[2017-09-29 14:33] Rodolfocartas opened #1 "Error when calling delegate"
I keep getting this error. I thought the problem was that delegate was getting deallocated before the library gets to call the delegate method. I moved the delegate to a singleton object and the error is still surfacing. The problem seems to be related to a cast, but I haven't so far found it.

[code]

[2017-09-29 15:13] WrathChaos commented on #1
Hello, can you share your code? Also did you call every delegate function ?

[2017-09-29 15:31] Rodolfocartas commented on #1
I checked the code. The library is casting an Error into a String thus causing the crash.

[2017-10-02 10:21] WrathChaos commented on #1
Thank you for fixing the code :) I'm going to make a new version with your correction

[2017-10-02 11:01] #1 closed

[2017-10-26 14:06] steviemo opened #3 "Send message support"
Perhaps I have missed this in the docs but is there no way to send a STOMP message to a topic using this library?

Thanks

[2017-10-27 11:16] steviemo opened #4 "Let client decide what to do with stomp frame body"
Hey - nice library and it's working well thanks.

Could we add a new StompClientLibDelegate function that just returns the String optional of the message body rather than an AnyObject?

I send different JSON objects down the wire for different topics and would like to handle the raw JSON string myself:

func stompClient(client: StompClientLib!, didReceiveMessageWithJSONBody jsonBody: String?, with

[2017-10-27 12:02] WrathChaos commented on #4
Sure, when I have time, I will add it but you can create a PR and contribute it :) It could be much more faster.

[2017-10-27 12:08] steviemo commented on #4
That will do cheers - will sort out PR now thanks

[2017-10-27 12:08] #4 closed

[2017-10-29 08:01] WrathChaos commented on #4
@steviemo I updated the new version(1.2.0) please try the new protocol  and give me a feedback :) Thank you sir!

[2017-11-15 12:08] karibandi opened #8 "Unable to find a specification for 'StompClientLib'"
Hi,
I have downloaded the example project that you have provided and it is working great, but I'm facing issues while I'm trying to install the pods in to my main project the terminal is throwing an error  saying **Unable to find a specification for 'StompClientLib'**.
I've tried changing with various platform versions( :ios, '9.0', '10.0','11.1') but nothing helped.

<img width="697" alt="termina

[2017-11-15 13:32] WrathChaos commented on #8
Hello can you try without testing issues.
Try something like that :
https://gist.github.com/WrathChaos/d4ace4e41c51fd81749c893fabf57258
if this will not work, I have to try your project because there is no issue about pod installing right now

[2017-11-15 14:30] karibandi commented on #8
Solved, i ran this command  ' pod repo update' and re installing my pod solved the issue.
Thanks for the quick reply.

[2017-11-15 14:30] #8 closed

[2017-12-04 18:15] rakeshtatekonda opened #9 "Getting error when framwork is installed in Objective c project"
I'm getting the error mentioned below when I try to import the pod in  Objective-C project.
**"The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. This setting can be set in the build settings editor"**

Mention version in podspec file to resolve the issue.
    s.pod_target_xcconfig = { 'SWIFT_VERSION' => '3.0'}

[2017-12-05 12:21] WrathChaos commented on #9
I'm gonna check this issue but this is a Swift project. So, please do not expect much :(

[2017-12-20 07:13] karibandi opened #10 "StompClient Disconnection."
I have been using  your stomp client library for a while and its working great ,but the only problem i'm facing is disconnecting the stomp ,  I've tried calling  the
"stompClientDidDisconnect()" and "stompClientWillDisconnect()", where even after unsubscribing the topic i'm still getting the hits from server, Could you please help with the issue?.

[2017-12-20 10:50] WrathChaos commented on #10
Hey Karibandi,
Have you called "stopClientDidDisconnect(client: socketClient)" ?
Example :
[code]

[2017-12-20 11:41] karibandi commented on #10
No, i tried calling the same with out that if condition ,now i have tried the above code and it is working like a charm.
Thanks Kuray.

[2017-12-20 11:41] #10 closed

[2018-01-06 01:38] PudiPudi opened #11 "Auto disconnects"
Hello
First of all, nice work here!

I'm getting auto disconnected from my web socket after a short amount of time,
I read that this could be solved by setting _idleTimerDisabled_ to _YES_ but wondered if there is a more elegant way to handle this and keep the connection active?

thanks in advance
Pudi

[2018-01-06 09:24] WrathChaos commented on #11
Hello Pudi :)
I will research about it, but it will takes 1-2 weeks because i'm very busy nowadays.
I am going to inform you.

Have fun

[2018-01-17 11:50] muddanaraj opened #12 "One of the delegate method is not being called."
I have integrated the code from https://github.com/WrathChaos/StompClientLib
I have noticed that one of the delegate method of the stomp client,

func stompClient(client: StompClientLib!, didReceiveMessageWithJSONBody jsonBody: AnyObject?, withHeader header:[String:String]?, withDestination destination: String)

is not being called, others are being called properly.

[2018-01-17 12:02] WrathChaos commented on #12
Hello again @muddanaraj  :)
There are two functions at the same name. I'M overloading them.
[code]
Please check the second options which is the "didReceiveMessageWithJSONBody jsonBody: String?" one. It will be called if you get the string json from stream pipe :)
Please give me a feedback.
Have fun !

[2018-01-18 17:14] hukusuke1007 opened #13 "It not able to connect web socket."
I have a problem.
It not able to connect web socket.

■Source code.
----
let baseURL = "http://alice2.nem.ninja:7890"
print("URL : \(baseURL)")
let url = NSURL(string: baseURL)!
StompClientLib().openSocketWithURLRequest(request: NSURLRequest(url: url as URL) , delegate: self)
---

■Result
----
URL : http://alice2.nem.ninja:7890
2018-01-19 02:07:04.566143+0900 TestNem[35284:6662686] [MC] Lazy loadi

[2018-01-19 09:08] WrathChaos commented on #13
Hello @hukusuke1007 ,
Are you sure about your server socket using the stomp??

[2018-01-20 03:56] hukusuke1007 commented on #13
@WrathChaos
Yes. I heard that "http://alice2.nem.ninja:7890" is supported STOMP web socket.

・Additional infomation.
I implemented it as follows.
It not occur 404 error. But it not called override method(stompClientDidConnect).
And i tried it in iOS simulator.
[code]

[2018-01-22 09:21] WrathChaos commented on #13
@hukusuke1007  Okey, I will try to get data from your socket. Do I need any other information to connect your socket url?

[2018-01-22 17:09] krunalbhavsar opened #14 "unsubscribe socketclient"
**socketClient?.unsubscribe(destination: "destination string is same as subscribe destination string")**

Unsubscription of destination gives following error:

`"org.apache.activemq.transport.stomp.ProtocolException: No subscription matched.\r\tat org.apache.activemq.transport.stomp.ProtocolConverter.onStompUnsubscribe(ProtocolConverter.java:734)\r\tat org.apache.activemq.transport.stomp.ProtocolC

[2018-01-23 11:36] WrathChaos commented on #14
Hello @krunalbhavsar,
This is not an issue about StompClientLib. As you can see, it says the error: No subscription matched. Please check your topic names :)
Have fun!

[2018-01-23 11:45] WrathChaos commented on #13
@hukusuke1007 Hello again,
I've tried your url on the example and it works perfectly. Please delete
[code]
These lines on the example and try it :)
Give me a feedback please
Have fun !

[2018-01-23 14:53] #12 closed

[2018-01-23 17:53] hukusuke1007 commented on #13
@WrathChaos I'm sorry for late.
It successful to connect when I implemented a following source code.
But no response when call SEND message(sendJSONForDict(dict: sendData as AnyObject, toDestination: sendTopic).
[code]

[2018-01-26 10:01] #14 closed

[2018-01-27 03:48] krunalbhavsar commented on #14
Yes, It's an issue with subscription name but I doesn't accept the same string string I used to subscribe specific channel.

For example:

[code]

Here unsubcribe responds me an error: _No subscription matched_
Can you please help me to understand, what is wrong? What am I doing wrong?

As I analyzed from [Subscribe and receive messages](http://jmesnil.net/stomp-websocket/doc/), subscription (a su

[2018-01-27 11:08] WrathChaos commented on #14
@krunalbhavsar  Hello again,
Have you checked that can you subscribe correctly? If you cannot subscribe, you cannot unsubscribe either. If you need an example, please check the Example on the github. [Example](https://github.com/WrathChaos/StompClientLib/tree/master/Example)

[2018-02-01 05:20] gloryluu opened #15 "Delegate StompClientDidConnect not called after connect->disconnect->connect"
[code]
That delegate not even called when I try to reconnect. Please tell me how to fix this? Thank you.

[2018-02-01 08:35] WrathChaos commented on #15
Hello @gloryluu,
Can you check that did "stompClientDidDisconnect" delegate is called after you disconnect the socket? If it is not called then please check your disconnect method :)
Please give me feedback,
Have fun!

[2018-02-01 12:29] gloryluu commented on #15
Yes it did.
Make some debug, I notice that after I call the method 'closeConnection', when I tried to reconnect, in file StompCLientLib, in the method 'openSocketWithURLRequest' the client is not NULL and the socket?.readyState is not CLOSED. So it never come inside.

[2018-02-01 12:36] WrathChaos commented on #15
@gloryluu I'm gonna check when I have time, let me some days :)

[2018-02-02 11:25] WrathChaos commented on #13
@hukusuke1007 Sorry for very late response, had a tough week.
I tried to subscribe your topic but it is failed.. Can you please check that your topic string is valid or not.
Have fun :)

[2018-02-05 16:46] SankarLal opened #16 "SUBSCRIBE and UNSUBSCRIBE Delegate is missing"
After topics are subscribed, the success or failure methods are not implemented.

[2018-02-06 14:46] krunalbhavsar commented on #14
With this code, I can subscribe correctly.

[code]

But when I try to unsubscribe, using the same destination string, it replies with an error.
[code]

:(
Don't know, what's wrong here.... in this code. Everything according to sample code.

[2018-02-07 08:50] gloryluu opened #17 "Stream end encountered"
Sometime I get disconnect issue because of stream end encountered error.

The server is still in operation.  I think this comes from SocketRocket. Do you have any idea about this issue?

[2018-02-07 09:50] #17 closed

[2018-02-07 09:50] gloryluu commented on #17
This is NGiNX issue.

[2018-02-08 05:08] gloryluu opened #18 "How to receive heartbeat?"
![screen shot 2018-02-08 at 11 41 17 am](https://user-images.githubusercontent.com/10140561/35956514-ed366b20-0cc8-11e8-915f-ede14ee3b890.png)

It works very well on browser, but I dont receive ping on mobile device. The state is connected and heartbeat is 30s.

“CONNECTED\nheart-beat:30000,30000\nuser-name:00udiekv7oJmG5cZk0h7\n\n\0”

Do you have any suggestion?

[2018-02-08 10:02] WrathChaos commented on #18
I need to work on it.
 If you have time, you can help me about this issue :)
Have fun!

[2018-02-08 14:33] gloryluu commented on #18
My server is using Stomp 1.1 with heartbeat configuration. Actually I fixed this by add heartbeat to header field to ask it ping me.
`["hear-beat": "0,30000"] //  I cannot send heartbeat, I ask server to ping me every 30s`

I think you already implement it - the ping pong stuff,  add it to document is OK. Just missing the function ping server side in case you want the client to be more active.

[2018-02-08 15:38] WrathChaos commented on #18
@gloryluu I just could not test it on my side that's why it might needs some enhancements :) Thank you so much for feedback, I will add it on the documents.
Have fun sir :)

[2018-02-08 15:38] #18 closed

[2018-02-13 15:02] krunalbhavsar commented on #14
Here I found a proper (working) solution: https://stackoverflow.com/questions/48472473/stompclientlib-unsubscribe-socketclient/48769453#48769453

[code]

[2018-02-14 11:10] WrathChaos commented on #14
@krunalbhavsar I'm glad to find the working solution. I will add it to the ReadME part.
Thank you so much :)

[2018-02-22 15:23] WrathChaos commented on #13
@hukusuke1007 Could you solve your issue?

[2018-02-23 06:36] hukusuke1007 commented on #13
@WrathChaos Sorry for very late response.
OK. I check my topic.

Thank you for your advice.

[2018-03-09 01:31] surelax opened #19 "I think there is a memory leak for the delegate"
Hi,
I have read the source code and the example. I think you should make the delegate a weak property, otherwise there is a very high chance to get the strong reference cycle between the delegate and the stompClient object.

[2018-03-11 14:43] WrathChaos commented on #19
Hello @surelax,
Thank you for your awesome feedback :) I will check it out when I have time :)

[2018-03-15 15:56] abhaytambe opened #20 "Multiple subscription to topics"
Looks like the client fails to subscribe successfully to multiple topics. We receive a 1002 error code back on subscribing to the second topic.
i.e. Let's say, we have to topics to subscribe 'Topic ABC' and 'Topic DEF'. The client subscribes to topic 'Topic ABC' successfully, but we get a 1002 error back and the connection closes as soon as I subscribe to 'Topic DEF'. We reverse the order of subsc

[2018-03-15 22:00] abhaytambe commented on #20
The issue lies in the 'StompClientLib' class, subscribe to destination header should have 'StompCommands.commandHeaderDestinationId' header with a unique value per subscription.
Please refer to the documentation from STOPM
https://stomp.github.io/stomp-specification-1.2.html#SUBSCRIBE

[2018-03-16 08:30] WrathChaos commented on #20
Hello @abhaytambe I'm going to solve it in a week, thank you so much for feedback :) Also, remember that always welcome to PR :)

[2018-03-22 10:56] krunalbhavsar opened #21 "didCloseWithCode 1000, reason: nil"
An acknowledgement results into disconnection!

[code]

When I enable any of above functions (using socketClient instance), it disconnects chat server connection upon receipt of message, with error.

[2018-03-22 12:31] WrathChaos commented on #21
I'm on it :) Thank you for feedback

[2018-03-22 12:32] #13 closed

[2018-03-23 12:06] krunalbhavsar opened #22 "Value for "message-id" is always "1""
I submits some unique id (string) in a header (dictionary) of `sendMessage`, while sending a message.
But receiver always receives value "1" for "message-id".  Original value for "message-id" is replaced with value "1" during message transition.

Other information of header remains same.

My concern behind using this parameter value, reply an acknowledgement to sender. (I can use any other key in

[2018-03-28 22:05] cesarmtaz opened #23 "Error when connected to socket"
Hi,
im getting this error didCloseWithCode 1000, reason: Optional("\"Session closed by the container because of the idle timeout.\"") or didCloseWithCode 1001, reason: Optional("Stream end encountered")

it gets connected but when I subscribe y get this errors this is my channel "/wsc/info/user/"

[2018-03-29 08:04] WrathChaos commented on #23
I know this issue, I'm going to fix it ASAP :) Also, always welcome to PR.

[2018-04-05 10:47] deeksha-Goyal commented on #20
Hi **WrathChaos**!
**Line No: 372 is creating issue.**
let headers = [StompCommands.commandHeaderDestination: destination, StompCommands.commandHeaderAck: ack, StompCommands.commandHeaderDestinationId: **""**]

I changed above mentioned line in StompClientLib.swift file  to this :
let headers = [StompCommands.commandHeaderDestination: destination, StompCommands.commandHeaderAck: ack, StompCommands

[2018-04-25 09:05] www16852 opened #24 "enable Assert (self.readyState != SR_CONNECTING)"
Hi,
im getting this Assert NSAssert(self.readyState != SR_CONNECTING, @"Invalid State: Cannot call send: until connection is open");
in - (void)send:(id)data;

check code ,I think the problem is that ：
StompClient.swift 308
    socket?.send(StompCommands.commandPing)

maybe I can alter：
if socket?.readyState == .OPEN {
                socket?.send(StompCommands.commandPing)
}

Or have other solvin

[2018-05-07 06:53] krunalbhavsar commented on #21
Any update for this issue?

[2018-05-19 10:32] linsmalldragon commented on #9
@WrathChaos how to include it in objective c project ? I get the same error.

[2018-05-19 13:26] WrathChaos commented on #9
Unfortunately, I do not have time to work on it. PR's are welcome to complete this feature.

[2018-06-05 16:23] DanielCreagh opened #26 "didCloseWithCode 1001, reason: "Stream end encountered""
I am receiving this error consistently after 60 seconds of successfully establishing a socket connection.  Regardless of successfully subscribing and receiving messages from sockets server, the connection will always be closed at approximately 1 minute after connecting.

I can't see any way of configuring the ping/pong functionality or any timeout configuration either.

This renders this library u

[2018-06-06 08:37] WrathChaos commented on #26
Hello @DanielCreagh

Resource: [Stackoverflow](https://stackoverflow.com/questions/16105386/websocket-onclose-status-code-1001-meaning-going-away-mean-exactly)

You should control the stompclient connection when changing the new ViewController or any kinds of stuff. Also, please check your server side part for connection refuse, timeout etc.. If your endpoint connection is goes down, normally your

[2018-06-06 08:59] DanielCreagh commented on #26
We have Android and Web clients using same websockets server and neither have this issue. :-(

We are using a singleton instance of a web sockets controller that persists throughout entire execution of app, it isn't connected to any view controllers or anything that can be deallocated etc.

I've tried on device and on simulator on different networks and all demonstrate same behaviour.

Is there a

[2018-06-06 09:07] WrathChaos commented on #26
There is not ping/pong functionality right now, some devs are using heartbeat configuration and send a header to ask server to ping. I will add the ping/pong functionality ASAP, it's on my list.

[2018-06-06 09:20] WrathChaos commented on #26
There is a ping/pong functionality but it still needs some works to do. Please check this issue: #18

[2018-06-06 14:37] DanielCreagh commented on #26
i've found the fix for this issue:

[code]

The addition of the heart-beat header (as mentioned in ticket #18) has created consistent traffic over the web socket and hence keeps the socket open.

Thanks for your help, and great work with the library! 🙂🙃🙂

[2018-06-06 14:37] #26 closed

[2018-06-28 01:35] tbayankhis opened #27 "No response"
There is no response when I make the connection. didReceiveMessageWithJSONBody does not work at all.

[2018-06-28 03:39] #27 closed

[2018-07-19 21:03] cs-patricia-souza opened #29 "didCloseWithCode 1002"
Right aftes subscribe a topic, I receive the message:

Error Send : Optional("A subscription identified by \'T_\' already exists.")
didCloseWithCode 1002, reason: nil

[2018-07-19 23:34] cs-patricia-souza commented on #27
@tbayankhis what was the problem? my didReceiveMessageWithJSONBody does not work either

[2018-07-19 23:34] #29 closed

[2018-07-19 23:35] cs-patricia-souza commented on #29
The fix is on #20

[2018-07-23 21:45] cs-patricia-souza commented on #16
@WrathChaos Any news?

[2018-09-06 10:57] demetrio812 commented on #15
Hello, I had the same problem in my fork (I'm building a nativescript plugin with it and I had to do some changes) and I've solved in this way:

[code]

basically I close the socket, nil the delegate and then nil the socket itself (so it will be recreated).

Hope this help

Dem

[2018-10-10 12:47] manusaxena opened #30 "Socket is not getting connected"
i have tried to connect with socket and my delegate is landing to didSendError always with message
Invalid Sec-WebSocket-Accept response.

why example is adding gateway/websocket to url. is it necessary to add it

[2018-10-10 13:52] WrathChaos commented on #30
Hello @manusaxena,
It could be necessary depends on your socket server. If it is default, then yes. Also, I need to revise the library with Swift 4.2 and XCode 10. Please try to fix your url, until then give me a week to re-work on the library to re-code on Swift 4.2

Please give me a feedback, if you have done :)

[2018-10-10 14:01] manusaxena commented on #30
i have changed my url now. but still having "Invalid Sec-WebSocket-Accept response."

[2018-10-10 14:19] WrathChaos commented on #30
Can you share your url? So I can try either

[2018-10-10 14:43] manusaxena commented on #30
ws://205.147.102.113/bitbuddy/bitbuddyLead

[2018-10-10 15:00] WrathChaos commented on #30
Can you try this url: ws://205.147.102.113/websocket/bitbuddy/bitbuddyLead

[2018-10-10 15:05] manusaxena commented on #30
Above is not working because backend end point is not available for this url.
Code=2132 "received bad response code from server 404".  if possible can we have quick session over skype(me.manusaxena)

[2018-10-10 15:10] WrathChaos commented on #30
I'm on work right now, when I go home I'm going to try your url very fast

[2018-10-10 15:16] manusaxena commented on #30
thanks for very prompt replies. appreciate it

[2018-10-11 05:09] manusaxena commented on #30
i got to get resolve.  Backend is based on sockJs protocal, so i need to add couple of url params.

[2018-10-11 05:28] #30 closed

[2018-10-15 11:00] manusaxena opened #31 "Socket is disconnected with 1007 code as soon as it connected"
Socket is disconnected with 1007 code as soon as it connected. any pointers to fix ?

[2018-10-15 11:19] WrathChaos commented on #31
Can you share some more specific information about that? Can you share a sample code with me so I can reproduce it.

[2018-10-15 12:19] manusaxena commented on #31
any pointers, i could apply to make it work.

[2018-10-15 17:28] manusaxena commented on #31
@WrathChaos , waiting for your input if you have.
Otherwise i will have to look on alternative options because release of product is near. please look and  let me know if any pointer

[2018-10-17 10:33] WrathChaos commented on #31
@manusaxena Hello, sorry for late response. I'm trying your code right now. Also could not understand what do you mean by any pointers??

[2018-10-17 10:44] WrathChaos commented on #24
Hello @www16852,
I could not reproduce this problem, can you share some code with me. Let's solve this problem together :)

[2018-10-17 10:56] WrathChaos commented on #31
Hi again @manusaxena,
I reproduced the issue. I believe that this issue should fix on server side. Can you please read and try these ways:
https://github.com/GeniusesOfSymfony/WebSocketBundle/issues/294#issuecomment-418745047
https://stackoverflow.com/a/50462121/2247055

I've also tested lib with my local and server, it is working right now.

[2018-10-17 11:16] WrathChaos commented on #23
Hello @cesarmtaz,
Have you solved this issue or is it still a problem? I need more specific information to fix it. Is it the same as :  #31 ?

[2018-10-17 12:06] WrathChaos commented on #21
Hello @krunalbhavsar ,
I maintain the project again, please give me more specific information to reproduce on my environment?
Thank you :)

[2018-10-17 12:07] #21 closed

[2018-10-17 12:56] #9 closed

[2018-10-17 13:33] manusaxena commented on #31
ok. i am not sure because same backend is working for javascript client.

[2018-10-17 15:38] WrathChaos commented on #15
@gloryluu @demetrio812 Thank you so much for this contribution. I've added this to new version. Also, autoreconnect feature is going to be in this version after the tests are done :)

[2018-10-17 17:39] manusaxena commented on #31
@WrathChaos no i don't. i was just comparing frames with chrome javascript setup and this library. i found  ("/u0000") characters are missed from sending frames.

Pointers means suggestions.

If you have some time, then we can have quick skype session

[2018-10-17 19:14] manusaxena commented on #31
i got solution.
i need to add \u0000 in stompclient.lib

 frameString += "\n\u" + "0000"

but above line is giving error "expected hexadecimal code in braces after unicode escape"
i need to pass frame as "CONNECT\nheart-beat:10000,10000\nusuario:30\naccept-version:1.1,1.0\n\n\u0000" can you help me to attach "\u0000" at end

[2018-10-18 11:59] #22 closed

[2018-10-22 08:46] #23 closed

[2018-10-22 08:59] WrathChaos commented on #11
Hello :)
I've added Auto Disconnect and Auto Reconnect features on 1.2.5. Please try and give me a feedback if you have a problem about them.
Have fun

[2018-10-22 08:59] #11 closed

[2018-10-22 09:01] WrathChaos commented on #31
@manusaxena, I believe that "\u0000" is a generated one from chrome or somewhere. You should not send it as a frame.
It should be another solution for that.

[2018-10-23 12:43] Mahdimm commented on #15
hi @WrathChaos
thanks for this awsome library
did you fix this problem?

[2018-10-23 12:52] WrathChaos commented on #15
Hello @Mahdimm,
Yes, it should be fixed on new version. If you still have problem, please give me a feedback about it and we can solve it together :)
Have fun

[2018-10-23 12:58] Mahdimm commented on #15
thanks of replying @WrathChaos
first time we connect its ok and if we try to disconnect also it works but readyState of socket property in StompClient object doesn't change to .CLOSED and it is still .OPEN, thus when we try to connect socket for second time it could not register. what should we do now?

[2018-10-23 13:00] WrathChaos commented on #15
@Mahdimm
Does it still a problem on 1.2.5 version? Also, have you tried auto reconnect or auto disconnect features together? I tried them at the same time for testing disconnect and reconnect issues and it was working well.

[2018-10-23 13:11] Mahdimm commented on #15
Yes, I work with 1.2.5 version.
Do you means that there are functions autoReconnect and autoDisconnect? because I could not find them!
At first, I used this function for register Socket :
[code]
and the use this function for disconnect:
`socketClient.disconnect()`

and for the second time use registerSocket() function to connect with new token but it could not register, for that reason I mentioned

[2018-10-23 13:14] WrathChaos commented on #15
@Mahdimm Let me test fast. While I'm testing, can you please try to use reconnect function. Here is the example of it :
[code]

[2018-10-23 13:17] Mahdimm commented on #15
@WrathChaos
I didn't see any function like reconnect
can you tell me the name of file?
thanks

[2018-10-23 13:42] Mahdimm commented on #15
@WrathChaos
I did you're solution and version is 1.2.5 but we didn't found any function as you said.
look at this image:
[https://imgur.com/a/XVyYAsJ](url)

thanks

[2018-10-23 14:00] WrathChaos commented on #15
@Mahdimm
Working on it :)

[2018-10-23 14:01] Mahdimm commented on #15
@WrathChaos
Thanks
Im waiting for reply

[2018-10-23 14:20] WrathChaos commented on #15
Hello again @Mahdimm,
I don't know why but on my 1.2.5 version, could not get the new code base on the cocoapods. I just upgrade the new version as 1.2.6, it should be soon available. I will re-write when it is published.

[2018-10-23 15:08] WrathChaos commented on #15
Hey @Mahdimm,
Can you update the StompClientLib pod and try again? That was totally my mistake to did not update code base. Sorry :)

[2018-10-24 08:08] MrShafiee commented on #15
Hey @WrathChaos ,
Thanks for your response, yes it was updated successfully to 1.2.7 version, and reconnect function is available; But now when I want use openSocketWithURLRequest() my up crashed!
[This image](https://imgur.com/a/oozPlln)

[2018-10-24 10:32] WrathChaos commented on #15
Hello @MrShafiee,
Let's figure out what your problem is. I cannot understand what the error is with that image, can you post the console error?

[2018-10-25 05:57] WrathChaos commented on #15
There is no feature for subscrition delegate method but it is the first feature is going to work on it. It will be available soon :) I'm working on it.
Do you have any problem?

[2018-10-28 11:52] WrathChaos commented on #31
I believe that you fixed the problem. For now, I just close this issue. If there is still a problem, please re-open the issue and let's find a solution together.

[2018-10-28 11:52] #31 closed

[2018-11-04 10:04] Mahdimm commented on #15
Hi @WrathChaos

did you add delegate for subscribe & unSubscribe?

thanks for supporting

[2018-11-05 15:29] WrathChaos commented on #15
Hey @Mahdimm,
Unfortunately, I did not have time to add these delegates but this feature is the first place to do.
I will add them for the next update and it is going to be available within a week.
Also, PR is always welcome  :)

[2018-12-06 11:50] lithinJames commented on #24
Hi I’m getting "Invalid Sec-WebSocket-Accept response” error when connect to websocket server developed in java spring boot. Java client is able to successfully connect and send message,

Below is our code implementation

import StompClientLib

       var socketClient = StompClientLib()
        let completedWSURL = "ws://192.168.1.37:8080/iostest/chat"
         let Request = NSMutableURLRequest(ur

[2018-12-06 11:54] lithinJames opened #32 "Invalid Sec-WebSocket-Accept response"
Hi I’m getting "Invalid Sec-WebSocket-Accept response” error when connect to websocket server developed in java spring boot. Java client is able to successfully connect and send message,

Below is our code implementation

import StompClientLib

       var socketClient = StompClientLib()
        let completedWSURL = "ws://192.168.1.37:8080/iostest/chat"
         let Request = NSMutableURLRequest(ur

[2018-12-21 12:54] WrathChaos commented on #32
Hello @lithinJames,
Firstly, Thank you for the answer @tuluigi.
Is that work for you @lithinJames ? If it is not working, please re-open the issue :)

[2018-12-21 12:54] #32 closed

[2018-12-21 12:55] WrathChaos commented on #24
Hey @lithinJames,
You already opened an issue about this, please continue on that issue :)

[2018-12-21 12:55] #24 closed

[2019-01-07 12:50] baonguyena1 opened #33 "Should add Carthage"
I can't find carthage install, so please add it on carthage

[2019-01-31 13:34] WrathChaos commented on #33
Hello @baonguyena1 ,
I just back to work :) I will add it to Carthage ASAP.

[2019-02-02 22:15] DavidTomic opened #35 "stompClientDidConnect not called with Spring boot"
Hi,

I know this is more Spring boot question but hopefully, someone can help me here.

I am trying to establish a connection using this lib and Spring boot.

I have a Spring boot project with only one file added:

[code]
I published above code here:
ws://35.159.46.108:8080/hello/websocket

When I start StompClientLib-Example with above ws url I only get
"WebSocket is connected"
and never get
"sto

[2019-02-03 22:44] Tobisaninfo commented on #33
I'm looking for a Stomp Client for iOS to use this with my java spring server and this library seems to be perfect. Hopping for coming carthage support soon, to use this library in my project

[2019-02-04 07:35] WrathChaos commented on #33
Hello @Tobisaninfo,
I will support the Carthage in this week, hopefully in some days :) I will notify you when it is done.

[2019-02-06 09:40] WrathChaos commented on #33
Hello @baonguyena1 and @Tobisaninfo I have tested the Carthage support and it works for me :) Can you please test it and give me a feedback for it. I've closed the issue, if somethings wrong with you please re-open it.
Have fun :)

[2019-02-06 09:40] #33 closed

[2019-02-06 10:07] Tobisaninfo commented on #33
After having some troubleshoots with SocketRocket it worked great for me. Maybe you add this needed dependency to your readme. In addition I couldn't build SocketRocket using carthage, but this is not your business. Thanks for helping me.

[2019-02-08 08:23] WrathChaos commented on #33
Hello @Tobisaninfo ,
I've also added this on ReadME :) Love to hear that it works for you.
Have fun.

[2019-02-13 23:36] demetrio812 commented on #35
Hello guys, today I had the same problem and I've found a way to fix it without downgrading (it wasn't an option for me).

Basically we need to send the accept-versions header with the CONNECT command:

[code]

Check this commit for more info on where to put it:

https://github.com/demetrio812/StompClientLib/commit/6c924eebcba3a56e42cac01a531863b13b8aa3eb

(the real change is just one line, all th

[2019-02-13 23:37] demetrio812 commented on #35
Please @DavidTomic or @WrathChaos can you also reopen this issue?

Thanks,
Dem

[2019-02-14 12:37] WrathChaos commented on #35
Hello @demetrio812,
I'm going to integrate and test it next week. Awesome work! Thank you :)

[2019-02-14 12:42] DavidTomic opened #36 "invalidate reconnect"
Hi,

Is there a way to invalidate reconnect?

If a user e.g. performs logout than reconnect should stop.

[2019-02-14 14:20] WrathChaos commented on #36
Hello @DavidTomic,
Business logic is all up to you. Library itself does not have any business logic to reconnect or even connect. If you do not want to auto re-connect. Then you just do not need to use "reconnect" function and you can write your own re-connect business logic :) OR you can use the "reconnect" function but still you need to write your own business logic to check user is already logo

[2019-02-14 14:20] #36 closed

[2019-02-14 14:31] DavidTomic commented on #36
Hi,

reconnect feature provided in this lib is good to have because the user can lose internet connection etc. and once back it will auto-reconnect.

But once reconnect is fired there is no way to stop it, even If I explicitly call disconnect.

I think it is a good feature to have stop reconnect feature because of use case I mentioned in above post.

I'll fork this lib and make stop reconnect feat

[2019-02-22 15:09] manusaxena opened #37 "How to increase output buffer"
I am trying to send image as base64 encode over the socket. but socket get disconnected due to outbuffer. how we can increase outputbuffer

[2019-02-23 08:05] WrathChaos commented on #37
Hello @manusaxena,
Nowadays, I'm super busy. When I'm off a bit, I can develop this feature. Also, always PRs are welcome :)

[2019-02-26 08:42] WrathChaos commented on #36
Hello @DavidTomic,
You can always make a PR :) I would love that. If you're working on it, please let me know.
I really love to add this feature with PR :)
Thank you for using this lib. Really glad to hear that.

[2019-02-27 09:55] DavidTomic commented on #36
@WrathChaos
Hi, I implemented this in my project, I will make PR asap.

[2019-02-27 12:47] WrathChaos commented on #36
@DavidTomic
Hi again, thank you so much. Waiting for the PR :O

[2019-03-25 16:20] abbasqamar opened #38 "IPV6"
Hi there as you guys know the apple mandatory that your application must support IPV6 if not then they will reject the application they rejected recently my app which was writting in Swift Socket .(who doest not support iv6)
so does StompClientLib support IPV6 ?? kindly reply i am anxiously waiting thanks

[2019-03-26 11:49] WrathChaos commented on #38
Hello @abbasqamar,
StompClientLib uses SocketRocket as a web socket base. It is the Facebook's socket library and it supports IPv4/IPv6.
Haven't tried the IPv6 with this lib. You can simply implement this lib and check it out. It would takes only 10 mins :)
Please give me a feedback about IPv6 support. I'm glad to help about this issue.
Have fun :)

[2019-03-27 15:55] abbasqamar commented on #38
i am glad u responded.. well we did the setup the ipv6 hopefully i will update .. the status regarding IPV6 . one more thing dear.. today i had one issue i resolved like  didConnect was not calling .i will tell you tomorrow thanks buddy

[2019-03-28 09:37] WrathChaos commented on #38
Waiting for your response @abbasqamar  :) Have fun

[2019-04-22 06:12] abbasqamar commented on #38
i am opening this issue.. now i got ipv6 configured on server end back end..

now when i am trying to connect to web socket through IPV6 like my mac has now ipv6  this library is unable to connect..

giving error.

TCP Conn Failed Error:  didFailwithError: optional "Network is down"

[2019-04-22 06:13] abbasqamar commented on #38
urgent help plz..bcz my app about to end.. i meet my deadline now i got this issue.... i m pretty worried..

thanks

[2019-04-24 11:25] cleverClosure opened #39 "Can't connect to websocket with authorization header"
Hi. I get an error while trying to connect to websocket, here is the code:

[code]
Response:

[code]

Do you have any ideas why that might be the case?

[2019-04-24 15:37] abbasqamar commented on #38
any update ??

[2019-04-25 12:22] WrathChaos commented on #39
Hello @cleverClosure ,
I need an example to test it out. Can you provide it?

[2019-04-25 12:22] WrathChaos commented on #38
Hello again @abbasqamar,
I am going to work on this issue in this weekend. Nowadays, I'm super busy :(

[2019-04-26 13:06] cleverClosure commented on #39
Can I send it to you privately somehow? I don't want the url to be public

[2019-04-26 21:27] WrathChaos commented on #39
You can send me an email : kurayogun@gmail.com

[2019-04-27 08:48] cleverClosure commented on #39
I've sent you an email

[2019-04-27 13:27] WrathChaos commented on #39
Hello again @cleverClosure,
As I mentioned on the mail, I got this error from your server:
`didFailWithError: Optional(Error Domain=SRWebSocketErrorDomain Code=2133 "Invalid Sec-WebSocket-Accept response" UserInfo={NSLocalizedDescription=Invalid Sec-WebSocket-Accept response})`

Can you provide a working authentication token or please check your server part :)

[2019-04-27 13:32] WrathChaos commented on #38
Hello @abbasqamar ,
I used your IPv6 url and I got this error :
`Code=50 "Network is down"`
I do not have any other IPv6 websocket connection to try the library is working or not.. Can you provide any?

[2019-04-27 15:27] cleverClosure commented on #39
Yes, that is exactly what I use ws instead of wss or https. Here is the new token: 451ac7a5-ad93-4859-8c62-b41e96d6a34d

[2019-04-27 15:28] cleverClosure commented on #39
The server side works, because I am able to connect to it from the web client

[2019-04-27 19:02] WrathChaos commented on #39
@cleverClosure
Have you checked these issues?
#30  and #32  ?

[2019-04-29 15:52] cleverClosure commented on #39
The webserver works on sockJS but adding /websocket to the url didn't help

[2019-04-30 10:18] abbasqamar commented on #38
sorry sorry for late reply.. i m getting same Error network is down but my net is working fine.... are you using this method for testing ipv6 ?? https://developer.apple.com/library/archive/documentation/NetworkingInternetWeb/Conceptual/NetworkingOverview/UnderstandingandPreparingfortheIPv6Transition/UnderstandingandPreparingfortheIPv6Transition.html

i have another app i used Singlar R i created o

[2019-04-30 10:19] abbasqamar commented on #38
its pretty critical issue i made exact app like uber but including some map rotating features for UK Client that app is pretty big i need to know how can i access directly ipv6 IP for websocket thanks buddy ..

waiting ..

[2019-04-30 10:20] abbasqamar commented on #35
i got same problem.. i can help if u did resovle it..

[2019-04-30 15:24] WrathChaos commented on #35
Hello @demetrio812 , @abbasqamar
First of all, I'm so sorry about postponing the support of Spring boot 2.1.x.
Finally I've spent time and integrated the support of Spring boot 2.1.x also I made the compatibility Swift Version 5.
Please test it out and give me a feedback :) If there is a problem about the new 1.3.0 version, please write the issue or open a new one :)
Thank you so much!
[Version 1.

[2019-04-30 15:24] #35 closed

[2019-04-30 15:28] WrathChaos commented on #39
@cleverClosure I'm really sorry but I could not find the problem about your issue :(
I've tried another websocket with authentication and it works without any issue. I have only left is that your websocket backend might have an issue about it.

[2019-04-30 20:12] WrathChaos commented on #38
Hey @abbasqamar,
I could not find any websocket which works with IPv6 for testing.. That's why I could not investigate the issue deeply.. I guess we need a community help.

[2019-05-02 08:52] abbasqamar opened #40 "App goes in background lock the kepad the socket disconnected"
Hi,

The socket disconnected when goes in backgroup and then make the keypad lock then unlock and click on app the web socket is in disonncted mode..

help plz  urgent

[2019-05-02 12:25] WrathChaos commented on #40
Hi @abbasqamar,
Can you provide a reproducible project, please?

[2019-05-02 13:54] abbasqamar commented on #40
do i need to provide the project?? or i can create a sample project for u .. seems u are busy right now lol

[2019-05-02 14:02] WrathChaos commented on #40
You can create a sample project for me to reproduce the issue :) Then I can understand the issue deeply. I'm always busy but I'm glad to help you.

[2019-05-07 12:23] cleverClosure commented on #30
@manusaxena Hi, can you provide params you've added? I'm having same issue

[2019-05-07 12:41] cleverClosure commented on #39
Can I ask you which websocket with auth did you try (the one you were able to connect successfully)? Is that local webserver or something?

[2019-05-07 13:27] WrathChaos commented on #39
I've tried on a very simple local webserver. Unfortunately, I do not have any other options.

[2019-05-08 09:28] liuxinghudiejie opened #41 "Data garbled problem,help"
Hello,can I ask you some questions about stomp?Will you receive garbled Chinese messages when you use StompClientLib?I am using [Stompkit](https://github.com/mobile-web-messaging/StompKit) because I use OC，I found that when I received the Chinese message, there would be garbled characters but the English would not.Image is the data processing part，Can you have a try and tell me the result?Thanks
<

[2019-05-17 09:53] Hokumdar commented on #30
@manusaxena Hello! Please provide url params you have added. I have the same issue.

[2019-05-17 10:15] Said13 commented on #39
Someone solved this problem?
I have the same issue.

[2019-05-17 10:18] Said13 commented on #30
@cleverClosure Hi. Have you solved this problem?

[2019-05-18 17:40] Said13 commented on #32
@tuluigi Hi! Can you please tell why should  adding “/websocket” solve the issue?
I also have sockJs server and also have this issue.

[2019-05-20 16:19] blinkmeoff opened #42 "Login, passcode"
How can I set connection like that?
Where should I enter login and passcode? My delegate methods are not called, getting output frames failed, state 8196
Also I have **wss**://xxx.com:61024/
Please help.

<img width="296" alt="Screen Shot 2019-05-20 at 19 14 52" src="https://user-images.githubusercontent.com/15688672/58036383-a6976900-7b33-11e9-85de-aa56d8ed4dd2.png">

[2019-05-22 07:54] WrathChaos commented on #42
Hello @blinkmeoff,
Why are you trying to use a websocket just for login ?
Is there a must logic behind it?

[2019-05-22 08:36] blinkmeoff commented on #42
**STOMP 1.2 clients MUST set the following headers:**

**accept-version** : The versions of the STOMP protocol the client supports. See Protocol Negotiation for more details.
**host** : The name of a virtual host that the client wishes to connect to. It is recommended clients set this to the host name that the socket was established against, or to any name of their choosing. If this header does no

[2019-05-23 10:00] yongjunta opened #43 "Didconnect function cannot be callback after successful connection"
When the connection with the server is successful, the console also prints WebSocket is connected, but there is no callback to stompClientDidConnect method, why?

[2019-05-23 10:20] WrathChaos commented on #43
Hello @yongjunta,
Thank you so much for using the lib and create an issue about it :)
This library is more than 2 years old therefore, I did not need a callback method for stompClientDidConnect method. Also, I believe that people can create a business logic with this protocol method.
Of course, PR's are welcome for this little feature :)

[2019-05-23 10:22] WrathChaos commented on #42
At the end @blinkmeoff's business logic is fixed and it works :)
Closed <3

[2019-05-23 10:22] #42 closed

[2019-05-23 10:42] yongjunta commented on #43
Hello, what I want to ask is whether I automatically enter the StompClientDidConnect method when the connection with the server is successful. The subscription method I wrote in the StompClientDidConnect method has not been executed. It should be that I did not enter the StompClientDidConnect method at all. What should we do in this case? I hope you can give me Demo. Thank you!

------------------

[2019-05-23 13:08] kientux commented on #33
I can't get SocketRocket to work too. Can you show me the instruction? Latest version of SocketRocket can't be build using Carthage, and if I use "master" version, it can build but throws error on runtime

[code]

[2019-05-23 19:43] WrathChaos commented on #33
Hello @kientux,
Unfortunately, I could not do anything for SocketRocket. Maybe @Tobisaninfo will help you how to solve it with his way.

[2019-05-24 11:58] blinkmeoff commented on #42
My problem was that I was sending "login,passcode,accept-version" in header, this is wrong, to CONNECT via STOMP it's a simple String.
[code]

[2019-05-31 18:56] Erhannis opened #44 "stompClientWillDisconnect missing"
`stompClientWillDisconnect` was removed in 2017, but it is still listed in the documentation, and in fact is the suggested place to unsubscribe from a topic: `Suggestion : Subscribe to your topic in "stompClientDidConnect" function and unsubcribe to your topic in stompClientWillDisconnect method.`  Either the method should be re-added, or the documentation should be updated.

[2019-05-31 19:09] Erhannis commented on #44
Similarly with the entry for `didReceiveMessageWithJSONBody ( Message Received via STOMP as String )`, given as `func stompClientJSONBody`, which was removed in 2018.

[2019-06-03 10:32] WrathChaos commented on #44
Thank you so much @Erhannis,
 I will research this issue and will remove these functions :)

[2019-06-05 22:57] yhz82415 opened #45 "socket?.readyState is .OPEN and it never goes to my own "stompClientDidDisconnect" method"
Hi:

I am trying out the library.

In my viewDidLoad(), I put
`socketClient.openSocketWithURLRequest(request: NSURLRequest(url: url as URL) , delegate: self as StompClientLibDelegate)`

it never reaches the method stompClientDidConnect :
`func stompClientDidConnect(client: StompClientLib!) {
        print("Socket is Connected : ")
        socketClient.subscribe(destination: "/user/topic/greetings"

[2019-06-05 23:44] yhz82415 commented on #43
I am having the same issue ... ...

[2019-06-05 23:45] #45 closed

[2019-06-06 00:32] yhz82415 commented on #43
I guess in order to make it work it needs this commit:

`https://github.com/WrathChaos/StompClientLib/commit/ba521b4ddd32ce48fa63d00439c76af8b165d673`

[2019-06-06 07:23] WrathChaos commented on #43
Hello @yhz82415,
That commit is the latest version of the StompClientLib, did it solve your issue ?

[2019-06-06 07:24] #40 closed

[2019-06-06 07:39] yongjunta commented on #43
The problem I encountered was not Springboot's reason. He entered the if statement to judge whether the connection was disconnected. We just need to activate DidConnect's method under the connection method in the webSocket DidOpen method and subscribe to DidConnect's method.

like this :
public func webSocketDidOpen(_ webSocket: SRWebSocket!) {

        print("WebSocket is connected")

        con

[2019-06-06 08:11] WrathChaos commented on #43
@yongjunta, which version are you working on?

[2019-06-06 08:13] yongjunta commented on #43
The swift 4.2 I used at the time

[2019-06-06 08:17] yongjunta commented on #43
1.2.7，The swift 4.2 I used at the time

[2019-06-06 08:19] WrathChaos commented on #43
Can you try 1.3.0 version with Swift 4.2? It should have been supported with the latest version.

[2019-06-06 17:55] yhz82415 commented on #43
Is the latest version 1.3.0? If so there are 3 commits in that version but doesn't have the commit for spring boot support ba521b4ddd32ce48fa63d00439c76af8b165d673 . https://github.com/WrathChaos/StompClientLib/compare/1.3.0...master

[2019-06-06 20:47] yhz82415 opened #46 "After subscribing to a topic, how to handle messages from server side?"
I managed to send messages and subscribe to topics. Then in my server side, I sent a message back to the subscribed topic, how does the client receive and handle this message???

Basically the message sent by server is not coming back to this method:

`func stompClient(client: StompClientLib!, didReceiveMessageWithJSONBody jsonBody: AnyObject?, withHeader header: [String : String]?, withDestinatio

[2019-06-06 21:36] yhz82415 commented on #46
Closing this issue because I subscribed two topics and need different impl for the protocol

[2019-06-06 21:36] #46 closed

[2019-06-06 21:49] yhz82415 commented on #43
nvm it is there

[2019-06-07 12:41] deni2s commented on #15
@WrathChaos should the StompClientDidConnect delegate be called on connect/reconnect using autoreconnect method? (it is not for me)

Another question - is it possible to get following delegate somehow? - (void)webSocket:(SRWebSocket *)webSocket didCloseWithCode:(NSInteger)code reason:(NSString *)reason wasClean:(BOOL)wasClean;
Getting just call to stompClientDidDisconnect(client:) delegate in that

[2019-06-07 19:49] yhz82415 opened #47 "Can I subscribe to multiple topics with one stomp client?"
Hi:

I might be missing something but how can I subscribe to multiple topics with one stomp client?

I tried
socketClient.subscribe(destination: "topic-a")
socketClient.subscribe(destination: "topic-b")

the message sent to topic-a can never be caught by the delegate
`func stompClient(client: StompClientLib!, didReceiveMessageWithJSONBody jsonBody: AnyObject?, withHeader header: [String : String]?

[2019-06-07 21:00] yhz82415 commented on #47
NVM... Got it working by using "subscribeWithHeader"

[2019-06-07 21:00] #47 closed

[2019-06-07 21:04] WrathChaos commented on #15
Hi @deni2s,
Which version of the library are you using? (For the first question)

I am going to work on the new delegate methods ASAP. Still trying to make time for working on it.

[2019-06-07 21:06] WrathChaos commented on #43
@yongjunta, still waiting for you to close this issue :)

[2019-06-10 10:48] deni2s commented on #15
@WrathChaos I am using the latest version.

[2019-06-10 11:29] WrathChaos commented on #15
@deni2s
Can you try the example? Every delegate is working with the example on my side. Each time auto-reconnect and disconnect. Its delegate gives me the console.log

[2019-06-10 21:50] gsathish02 commented on #15
Hey @WrathChaos, thanks for this library, I try to use this, but unfortunately, none of the delegate is calling on my end. Not sure what I am missing!! I can see the log "WebSocket is connected" from the library, but my delegate method `func stompClientDidConnect(client: StompClientLib!)` is not calling. Did I need to add anything else?

[2019-06-11 08:06] deni2s commented on #15
@WrathChaos couldn't get the Example to work at all, looks like pod file is outdated (no target platform defined, no minimum ios version defined).

[2019-06-11 12:40] WrathChaos commented on #15
@gsathish02 and @deni2s , I'm working on it. I'm going to fix it tonight.

[2019-06-11 14:10] #43 closed

[2019-06-12 10:00] WrathChaos commented on #15
Sorry guys could not make time for it. Before this weekend I will fix it.

[2019-06-14 09:36] WrathChaos commented on #15
Hey guys @gsathish02 and @deni2s,
I've tested with my spring boot server. It totally works. I've used Java 8 on MacOS. Can you provide me with a test link?

[2019-06-14 09:37] WrathChaos commented on #15
Also, I've closed this issue, please re-open for your issues and let's continue on there.

[2019-06-14 09:37] #15 closed

[2019-06-14 09:42] WrathChaos commented on #44
Hello, again @Erhannis
I've updated the README for `stompClientWillDisconnect`. It is removed on README. However, can you provide me with a link and a replacement for `didReceiveMessageWithJSONBody`

I need a replacement for JSON handler.
Thank you, waiting for a response from you :)

[2019-06-14 09:54] WrathChaos commented on #44
New release is available
## [Release: 1.3.1](https://github.com/WrathChaos/StompClientLib/releases/tag/1.3.1)

[2019-06-19 07:26] appleshine opened #48 "Multiple clients"
Hi, is it possible to have multiple StompClientLib clients that connect to different URL? How can the delegate differentiate the clients?

Thanks in advance!

[2019-06-20 10:52] WrathChaos commented on #48
Hello @appleshine,
I haven't tried it before but it is possible. You simply need to create two client variable but also you need to write your own delegates extends from mine and set each of them in here:

[code]
### delegate: YOUR-CUSTOM-DELEGATE

Please keep me inform about multiple client issue :)

[2019-06-20 16:51] duannl commented on #35
I tried Version 1.3.0 but it's still not working. I also tested with @DavidTomic repo and it worked well.

[2019-06-21 08:28] WrathChaos commented on #35
Hello @duannl,
Can you provide me with an example to work on it? I'm able to work with version 1.3.0.

[2019-06-21 09:39] appleshine commented on #48
I created my own delegate extending from StompClientLibDelegate

socketClient.openSocketWithURLRequest(request: url, delegate: myDelegate)

the websocket is connecting properly and the topic is being subscribed. but for some reason I cant get any response from the subscribed topic.

[code]

this method is not going through, if i set the delegate back to self. i can receive the message with no prob

[2019-06-21 10:16] WrathChaos commented on #48
@appleshine  Can you share the example project with me? We can make it faster in this way. Also please tell me which version of the library do you use?

[2019-06-22 11:29] duannl commented on #43
@WrathChaos Hi there. I did checkout version 1.3.1 but I don't see the below commit
`https://github.com/WrathChaos/StompClientLib/commit/ba521b4ddd32ce48fa63d00439c76af8b165d673`
After testing with this commit, it's working now :)

[2019-06-22 11:33] duannl commented on #35
@WrathChaos I'm sorry, because of company's policy, I cannot provide the code. I also tested with the commit in the below link and it worked:
`https://github.com/WrathChaos/StompClientLib/issues/43`

[2019-06-23 13:57] WrathChaos commented on #43
Good to hear @duannl  :)

[2019-06-24 02:08] appleshine commented on #48
Unfortunately I do not have an example project. My websocket url is localhost :( But my delegate is as below:

[code]

in my main view controller

[code]

[2019-06-27 08:36] Erhannis commented on #44
Thanks for the changes.  I'm not sure I understand your second comment, though - my point was that in commit `28ef9738c0e96012c3fe5512b2d17a8455826ff4`, last October, you removed the function `stompClientJSONBody`, and the README should therefore have the corresponding section removed (titled `didReceiveMessageWithJSONBody ( Message Received via STOMP as String )`).  The remaining method gives the

[2019-06-30 12:48] WrathChaos commented on #44
@Erhannis  thank you so much :) I accepted your PR.

[2019-06-30 12:48] #44 closed

[2019-07-09 12:31] xaeroolj commented on #15
Hello, I have save issue,
When I run example project it work as expected,
But if I create new project and copy/paste same code, delegate method stompClientDidConnect not called.

[2019-07-09 12:42] xaeroolj opened #51 "StompClientDidConnect not called on a fresh project"
Good day,
I see WebSocket is connected, but delegate method StompClientDidConnect never called.

I try example code and in your project it is work fine...
But if I create new project and copy/paste same code, it fail...
I make clean setup swift 5 and 1.3.1 StompClientLib

[2019-07-09 12:43] WrathChaos commented on #51
Hello @xaeroolj,
The example code is made from the stratch project. Can you share your example code with me?
Let's solve the issue together.

[2019-07-09 12:44] WrathChaos commented on #15
@xaeroolj Let's continue on your issue, please :)

[2019-07-09 12:47] xaeroolj commented on #51
I try:
 override func viewDidAppear(_ animated: Bool) {
        socketClient.disconnect()
    }
And stompClientDidDisconnect was called...

give me sec I will share code..

[2019-07-09 12:51] WrathChaos commented on #48
Hey @appleshine,
Sorry for late response. What happens when you run this code? Delegate not working or shows up an error?

[2019-07-09 12:51] xaeroolj commented on #51
[ViewController.txt](https://github.com/WrathChaos/StompClientLib/files/3373008/ViewController.txt)

[2019-07-09 13:01] xaeroolj commented on #51
[ViewController.txt](https://github.com/WrathChaos/StompClientLib/files/3373058/ViewController.txt)

[2019-07-09 13:15] WrathChaos commented on #51
Can I connect your WebSocket externally?

[2019-07-09 13:15] xaeroolj commented on #51
yes it work now

[2019-07-09 13:19] xaeroolj commented on #51
Here is my project:
https://www.dropbox.com/sh/bhklssptjmvc6kw/AAAp2JRhYlHdJquHbjqmr9gMa?dl=0
and test example:
https://www.dropbox.com/sh/7bejshq0nbrgdbr/AAAZfzWLUPhkxlg-ba3YbvbIa?dl=0

[2019-07-09 13:21] WrathChaos commented on #51
@xaeroolj
I've tested your exact code and it works perfectly... What is your problem there?

![Screenshot 2019-07-09 at 16 20 08](https://user-images.githubusercontent.com/6813862/60891199-851a4a00-a265-11e9-9b10-8c1565cd6ac4.png)

[2019-07-09 13:24] xaeroolj commented on #51
Yes it must work... But my output is>>
<img width="559" alt="Снимок экрана 2019-07-09 в 16 23 19" src="https://user-images.githubusercontent.com/33875180/60891392-e8a47780-a265-11e9-91d4-6636df894935.png">

[2019-07-09 13:26] xaeroolj commented on #51
And different result when I use example project...
<img width="519" alt="Снимок экрана 2019-07-09 в 16 25 29" src="https://user-images.githubusercontent.com/33875180/60891559-33be8a80-a266-11e9-9b30-556e66c5f1d7.png">

[2019-07-09 13:34] WrathChaos commented on #51
Okey, let me create an example project for you.

[2019-07-09 14:23] WrathChaos commented on #51
Wow, literally not working with a fresh project :) Let's dig deeper together @xaeroolj.
I'm currently testing on your issue. Can you please share your stomp server properties with me? Which version of Spring Boot are your using?

[2019-07-09 14:36] WrathChaos commented on #51
Okay, Here it is.
I've tried the same fresh project with my own simple stomp server. It works perfectly. I believe that there is something wrong with your backend side. Can you dig on it?

[2019-07-09 20:17] xaeroolj commented on #51
Well, I can find how to temporary fix this,
I take file from example project: StompClientLib.swift
and put it in the head folder of my new project.
[StompClientLib.txt](https://github.com/WrathChaos/StompClientLib/files/3374712/StompClientLib.txt)
<img width="276" alt="Снимок экрана 2019-07-09 в 23 16 40" src="https://user-images.githubusercontent.com/33875180/60919940-a7c95480-a29f-11e9-81ca-c0a9

[2019-07-09 20:19] xaeroolj commented on #51
<img width="383" alt="Снимок экрана 2019-07-09 в 23 19 18" src="https://user-images.githubusercontent.com/33875180/60920095-055da100-a2a0-11e9-9c41-ad35cde30171.png">

[2019-07-09 20:22] xaeroolj commented on #51
if I delete  StompClientLib.swift from project it stops working again.

[2019-07-09 20:32] xaeroolj commented on #51
I check 2 files for differences and its looks like problem is here on line 136-137
<img width="1294" alt="Снимок экрана 2019-07-09 в 23 30 28" src="https://user-images.githubusercontent.com/33875180/60920757-9da85580-a2a1-11e9-8b44-c784ed049052.png">

[2019-07-09 20:47] xaeroolj commented on #51
One more thing,
1. Remove file from the head
2. replace StompClientLib.swift inside PODS/pods/StompClientLib/
3. In Xcode: Product -> Clear build folder
4. Build and run
Work for me now.

[2019-07-10 08:24] WrathChaos commented on #51
Can you try on Podfile:
`pod "StompClientLib" , "1.3.1" `

I've tried the latest version, oldest version etc but the result is the same. Too weird behaviour :(
I need to investigate it.

[2019-07-10 08:58] xaeroolj commented on #51
Remove any pods, from Podfile and run pod install
add pod "StompClientLib" , "1.3.1" and run pod install again
` pod install
Analyzing dependencies
Downloading dependencies
Installing SocketRocket (0.5.1)
Installing StompClientLib (1.3.1)
Generating Pods project
Integrating client project
Sending stats
Pod installation complete! There is 1 dependency from the Podfile and 2 total pods installed.`

[2019-07-10 09:00] xaeroolj commented on #51
And for you information, spring bout version is  2.1.6

[2019-07-10 11:22] deni2s opened #52 "Errors not handled properly"
After getting `didCloseWithCode 1001, reason: Optional("Stream end encountered")` in console, only `stompClientDidDisconnect(client:)` is being called, `stompClientWillDisconnect(client: StompClientLib!, withError error: NSError)` is not being called.
Also calling `client.isConnected()` inside `stompClientDidDisconnect(client: StompClientLib!)` returns true (I would expect it to be false).

Trying

[2019-07-10 11:36] deni2s commented on #52
@WrathChaos non related question, but why unsubscribe method sets connection to false? What if I was subscribed to several topics and want to unsubscribe only from one of them?

[2019-07-10 11:47] WrathChaos commented on #51
Okay, I'm going to upgrade the project with 1.3.2. I guess I missed one patch. I'm gonna write you down again.

[2019-07-10 11:50] deni2s commented on #52
I see `stompClientWillDisconnect(client: StompClientLib!, withError error: NSError)` is not in 1.3.1, so there are no delegates to check for error condition?

[2019-07-10 12:05] WrathChaos commented on #51
Hi again @xaeroolj ,

I've just published the new version. Can you try it?

### [Release 1.3.2](https://github.com/WrathChaos/StompClientLib/releases/tag/1.3.2)

[2019-07-10 12:36] xaeroolj commented on #51
Well, updated to 1.3.2
[code]
but
no changes:
[code]

[2019-07-10 12:47] xaeroolj commented on #51
Check folder:
StompClientLib-1.3.2/StompClientLib/StompClientLib/StompClientLib

This file is from prew versions, I believe that cocoa pods get this file..

Example is working because
Xcode project contain Example/StompClientLib.swift (correct)
And when we build this this file from the head have priority over.. StompClientLib-1.3.2/StompClientLib/StompClientLib/StompClientLi

[2019-07-10 21:44] WrathChaos commented on #51
Okay, I will fix the folder path problem ASAP and release a new version after test it.
Thank you so much for the helping @xaeroolj  :) If you have time to make a PR, I would love to accept that.

[2019-07-10 21:47] WrathChaos commented on #52
Hello @deni2s,
I'm going to answer your question and handle these problems when I have time :) If you want to contribute this project please feel free to make a PR :)
I'm sorry about leaving this post without answering your questions or make a comment about the error issue because it's too late in here and I'm really tired. However, I'm going to handle them ASAP :)

[2019-07-11 02:38] appleshine commented on #48
Theres no error but I receive no response/message from the server.

[code]

I understand that I can subscribe to multiple topics, but in my case, the websocket servers are created on multiple VMs thats why I have multiple urls for me to connect to.

[2019-07-11 07:43] WrathChaos commented on #48
@appleshine Can you provide me with an example server-side project for me? I would like to help you :)

[2019-07-11 14:52] WrathChaos commented on #52
Hey again @deni2s,
I need an example project for testing the error handling. Can you provide it for me?
Also, I'm currently testing the 'isConnected' returns true problem.

[2019-07-11 14:53] #41 closed

[2019-07-11 14:55] WrathChaos commented on #52
This one is related to :  #44

[2019-07-11 15:02] WrathChaos commented on #52
Okay, here is the answer for this question:

To be able to disconnect from the socket, the library is used 'DispatchQueue.main.async' which is an execution of the asynchronous method. However, when I call the client.isConnected() inside 'stompClientDidDisconnect' delegation method returns 'false'. Therefore, it works properly in my example.

[2019-07-11 15:03] WrathChaos commented on #52
Any other question in your head? :) @deni2s

[2019-07-12 10:22] deni2s commented on #52
@WrathChaos I actually found other bugs, so refactored the code to my needs and created PR, if you want to reuse something. Sorry it all went to one commit.

[2019-07-12 10:25] deni2s commented on #52
Sorry, can't provide access to our backend. Seems, like some 5xx error on backend side is triggering "didCloseWithCode 1001, reason: Optional("Stream end encountered")" on client, so my aim was to reconnect after this state, while I can reproduce it.

[2019-07-16 14:27] Erhannis opened #55 "Missing merge"
I noticed that you merged in my pull request a few weeks ago - but the merge isn't there anymore.  Confirmation of the merge happening: https://github.com/WrathChaos/StompClientLib/commit/51e21e1e4e5f133f27bcf364d42332d418708173
But it doesn't show up in the commit list: https://github.com/WrathChaos/StompClientLib/commits/master

Was that on purpose, or did a glitch/accident happen?

[2019-07-17 07:52] WrathChaos commented on #55
Hmmm I merged it and tested it.. I guess it is just a bug. Do you have any idea how to resolve it?

[2019-07-17 17:26] Erhannis commented on #55
Did you force push from a computer that didn't have the merge, perhaps?  That might have done it.  Anyway, sure - I've also added a fix to allow headers to store data that contains ':'s.  I'll include that, unless you object, in which case I can try to make a pull request from the commit before it.

[2019-07-18 08:11] WrathChaos commented on #55
Thank you so much for your contribution @Erhannis
I accepted your PR and I'm going to publish a new release ASAP.

[2019-07-18 08:11] #55 closed

[2019-07-18 09:31] WrathChaos commented on #55
## [Release 1.3.3](https://github.com/WrathChaos/StompClientLib/releases/tag/1.3.3)
![Screenshot 2019-07-18 at 12 29 41](https://user-images.githubusercontent.com/6813862/61446541-f63db980-a957-11e9-8ebe-503e3c6e96ed.png)

Thank you @Erhannis

[2019-07-18 15:00] cedb777 commented on #39
Same issue! Someone solved this ?

[2019-07-18 15:41] WrathChaos commented on #39
@Said13  and @cedb777, Can you guys provide me with an example of the issue? Because I could not reproduce it on my own simple WebSocket server.

[2019-07-18 15:43] WrathChaos commented on #51
@xaeroolj Helloo again,
A new release is alive, can you try and give me feedback that issue still exist?

[2019-07-18 20:53] Erhannis commented on #55
Sure thing; thanks

[2019-07-19 03:45] xaeroolj commented on #51
hello, I try it and the same problem still exist
<img width="667" alt="Снимок экрана 2019-07-18 в 23 05 34" src="https://user-images.githubusercontent.com/33875180/61508016-d0182800-a9f0-11e9-957f-75c49c6e1daa.png">

[2019-07-19 11:25] WrathChaos commented on #51
Okay I fixed it this time @xaeroolj
Totally my bad, I updated wrong StompClientLib. So sorry about that :)
Can you please check the new release:
### [Release: 1.3.4](https://github.com/WrathChaos/StompClientLib/releases/tag/1.3.4)

[2019-07-21 10:53] xaeroolj commented on #51
Good job ;-) I am close it now

[2019-07-21 10:53] #51 closed

[2019-07-21 23:13] iOSDias opened #57 "SendJSONForDict error"
[code]

Use this method to send message in chat, server do not receive any message, but didReceiveMessageWithJSONBody method called when someone send message from android client

[2019-07-22 09:24] WrathChaos commented on #57
Basically, you cannot send any message via StompClientLib but you can receive the message from the server. Am I right?
Can you share with me an example project which I can work on it?

[2019-07-22 12:43] iOSDias commented on #57
@WrathChaos I create test repo with test project that has identical steps and not working
https://github.com/iOSDias/SocketTest.git

[2019-07-22 14:14] iOSDias commented on #57
@WrathChaos I am really waiting for your help, because I do not understand what happens, earlier the same code working fine with sending endpoints

[2019-07-22 14:27] iOSDias commented on #39
@cedb777 @cleverClosure
I also can not to send headers through connectionHeaders, but I send it in request, like this
[code]

[2019-07-22 14:29] Said13 commented on #39
@iOSDias Hi! It works?

[2019-07-22 14:30] cleverClosure commented on #39
It worked for me with this code:

`let url = URL(string: "wss://\(defaultSocketBase)/tw-web-socket-gate/push?access_token=\(token)")!
        let request = NSURLRequest(url: url)
        let headers: [String: String] = ["heart-beat": "20,20"]
        socketClient.openSocketWithURLRequest(request: request, delegate: self, connectionHeaders: headers)`

[2019-07-22 15:23] iOSDias commented on #39
@Said13 yes

[2019-07-23 07:53] WrathChaos commented on #57
@iOSDias working on it. Can you try it with 1.2.7 version of StompClientLib?

[2019-07-23 07:56] iOSDias commented on #57
@iOSDias sorry, could you explain what you mean about "working on it"? You check on my test project? Ok, I try with 1.2.7

[2019-07-23 08:00] WrathChaos commented on #57
@iOSDias Hello again :) I've tested your test project. You were using the 1.3.0 version. I updated it to the latest(currently 1.3.4) and it works fine. Can you try it with 1.3.4?

[2019-07-23 08:02] WrathChaos commented on #57
![Screenshot 2019-07-23 at 11 00 19](https://user-images.githubusercontent.com/6813862/61694046-5b6b2380-ad39-11e9-8a6d-57005fb33304.png)

[2019-07-23 08:08] iOSDias commented on #57
@WrathChaos Hello, I am using the 1.3.0 version, because on the main project I use it, but on the main I also update it to 1.3.4 and it does not work, Yes, according to screenshot it send message, because of printing data, but I mean it does not work because I do not get this sended message from server in didReceiveMessageWithJSONBody as the result that it is processed

[2019-07-23 08:08] WrathChaos commented on #39
Finally, I closed the issue :) Please open a new one if you still have a problem.

[2019-07-23 08:08] #39 closed

[2019-07-23 08:09] WrathChaos commented on #57
Oh, I got it. Okay, let me test it deeply then.

[2019-07-23 08:29] iOSDias commented on #57
@WrathChaos Ok, let me know about results

[2019-07-23 08:36] WrathChaos commented on #57
@iOSDias I found the error at least the source of the problem. I need you to send me the unhandled exception message from the server. After I send the message from my sendMessage method. It should return a message about what is wrong. Can you send it to me?

[2019-07-23 08:43] iOSDias commented on #57
@WrathChaos during testing with the server, the backendor told me that from the client to the server nothing comes up, because he does not see this in the logs

[2019-07-23 08:54] WrathChaos commented on #57
@iOSDias I tested the "sendJSONForDict" method on my test server and it works totally fine also, "stompClientJSONBody" delegate method received the message with totally fine. I guess your backend server has a problem with it.

[2019-07-23 08:56] iOSDias commented on #57
@WrathChaos what could be the problem and how can i prove to the backendor that the problem is in the server, since the android client using another library interacts with the server normally?

[2019-07-23 08:58] WrathChaos commented on #57
You need to debug what is coming or going on the backend side. I tested it with 3 different servers which are working on multiple platforms. I could receive the message from all servers. Also, tested the deep inside code, which is working perfectly at 1.3.4.

[2019-07-23 08:59] iOSDias commented on #57
@WrathChaos Okey, thanks

[2019-07-23 09:00] iOSDias commented on #57
@WrathChaos Could you send me some information(url, etc) about your test server to check it on my side and show backendor the screenshots?

[2019-07-23 09:10] WrathChaos commented on #57
@iOSDias Unfortunately I could not share it because of company privacy & policy. However, you can find any simple Stomp Server example on the internet easily.

[2019-07-23 11:26] #57 closed

[2019-07-24 03:33] marain87 opened #58 "v1.3.4 replaced my custom header in open socket?"
I am using "openSocketWithURLRequest" function with "connectionHeaders" to set my custom header.
It is normal when I am using v1.3.3 or before. But I upgrade to v1.3.4 my custom header seem to be replaced by line 137 in "connect" function ...
Does anyone have the same problem?

line 137:
// Support for Spring Boot 2.1.x
connectionHeaders = [StompCommands.commandHeaderAcceptVersion:"1.1,1.2"]

[2019-07-24 06:56] WrathChaos commented on #58
Hi @marain87,
Looking for it :)

[2019-07-24 06:58] WrathChaos commented on #58
@marain87 Actually you still should be able to use the function with connectionHeaders. There are two methods with "openSocketWithURLRequest".

### [Line 98](https://github.com/WrathChaos/StompClientLib/blob/master/StompClientLib/Classes/StompClientLib.swift#L98)
I just overloaded these methods. It should be working. Can you provide me with a basic sample? I can test it for you.

[2019-07-24 09:29] marain87 commented on #58
HI @WrathChaos, Thanks for the reply.
Actually, I am using Line 98 function to open Socket with a custom header.
I think that the code should be checked not null and should not replace the current header value.

like following :

[code]

or

[code]

[2019-07-24 12:33] WrathChaos commented on #58
@marain87 It could be awesome if you have time to make a PR :) If you do not have time, I can add it in the future.

[2019-07-25 08:09] WrathChaos commented on #58
### [Release 1.3.5](https://github.com/WrathChaos/StompClientLib/releases/tag/1.3.5) is alive now. Thank you @marain87 🔥

Just closed the issue.

[2019-07-25 08:09] #58 closed

[2019-07-28 16:16] 4egoshev commented on #15
Hello. I have same problem too. I have log "WebSocket is connected", but delegate method stompClientDidConnect has called no where. Maybe it should be called in func webSocketDidOpen(_ webSocket: SRWebSocket!), where is print "WebSocket is connected"?

[2019-07-28 17:22] WrathChaos commented on #15
Hello @4egoshev, Can you tell me which version are you using?

[2019-07-29 05:22] 4egoshev commented on #15
I use 1.3.1 version

[2019-07-29 08:28] WrathChaos commented on #15
@4egoshev Can you try with the latest release, please? (Currently 1.3.5)

[2019-07-29 09:40] 4egoshev commented on #15
@WrathChaos sorry, but it does not solve my problem

[2019-07-29 12:48] WrathChaos commented on #15
@4egoshev Can you provide me with a simple example on a repo?

[2019-07-31 16:49] Gensjava opened #60 "Json error: The data couldn’t be read because it isn’t in the correct format."
I get data from here jsonBody
How can I get a good format?
 `override func stompClient(client: StompClientLib!, didReceiveMessageWithJSONBody jsonBody: AnyObject?, withHeader header: [String : String]?, withDestination destination: String) {`

Optional({
    dateMessage = 1564591416932;
    id = 3608;
    idFeed = 3193;
    idSender = 996;
    linkPhotoAvatar = "https://s3.us-east-1.amazonaws.com/

[2019-07-31 17:16] Gensjava commented on #60
I am sorry, I found a solution such as:
let jsonData = try JSONSerialization.data(withJSONObject: jsonBody as Any, options: .prettyPrinted)
            let reqJSONStr = String(data: jsonData, encoding: .utf8)

            print("JSON Body : \(reqJSONStr)")
            let jsonResponse = FeedsComments.deserialize(from: reqJSONStr) as! FeedsComments

[2019-08-01 09:30] #60 closed

[2019-08-02 15:02] mleatherb commented on #35
I'm also experiencing the same issue. on SpringBoot 2.1.6

[2019-08-03 09:37] WrathChaos commented on #35
@mleatherb It should work on the latest release. Which version are you working on?

[2019-08-06 08:32] SSUS31 commented on #17
Always facing this issue. Automatic disconnected after 30-40 seconds
[code]

[2019-08-06 12:03] WrathChaos commented on #17
@SSUS31 Maybe @gloryluu  will tell you how did he/she fix the problem. This is not related to StompClientLib.

[2019-08-06 14:13] gloryluu commented on #17
As I remember, it related to the heart beat. Workaround is to ping pong the server every 30s to maintain the connection

[2019-08-06 14:40] SSUS31 commented on #17
Can you show please how to do it.

[2019-08-06 14:54] gloryluu commented on #17
There're 2 ways to fix in my situation, either:
1/ You put a timer for every 30s to send a ping command to server. Check in the lib source you will see how he handled it:

or
2/ You ask server to send you a ping ( heartbeat - built in config) and let the lib handle over all for you.

[2019-08-07 06:47] 4egoshev commented on #15
@WrathChaos sorry for waiting. I was so busy all last week. Do you know, it works good in simple example now. I think, maybe something wrong with our backend. Any way, thanks for your work!:+1: Good luck:slightly_smiling_face:

[2019-08-07 09:05] WrathChaos commented on #15
@4egoshev Love to hear that, I hope you can make it work. Have fun :)

[2019-08-16 09:45] hainguyendn opened #63 "Can't connect Socket with Spring Boot 2.x.x"
I'm trying to connect with Socket (Stomp Websocket 1.2) - Spring Boot 2.x.x but the issue is can't connect. Do you have any plan to upgrade it!

[2019-08-16 09:50] WrathChaos commented on #63
Hello @hainguyendn,
Can you tell me which version are you using?

[2019-08-16 10:32] baonguyena1 opened #64 "Cannot connect with Stomp Websocket when custom header"
Hi Guy,

In the latest version(1.3.6) I see the Library is supporting spring-boot 2.1.x by code:

But in case I connect with socket with the custom header by function `public func openSocketWithURLRequest(request: NSURLRequest, delegate: StompClientLibDelegate, connectionHeaders: [String: String]?)`. That means the `connectionHeaders is not null`, so the `connectionHeaders` cannot add an accepted

[2019-08-16 11:35] WrathChaos commented on #64
Hello again @baonguyena1,
Can you please open a PR for this fix? :)

[2019-08-19 01:44] baonguyena1 commented on #64
@WrathChaos I will do it.

[2019-08-22 09:16] jbarros35 opened #66 "Self sign certificate, 400 error"
Hi, I tried on development a self signed certificate, but we could not connect.
Using a default no secure it works but it cannot run on a real device.
Do you have any advice?

        self.socketClient = StompClientLib()
        let url = NSURL(string: "wss://192.168.1.134:9002/api/ws")!
        socketClient.openSocketWithURLRequest(request: NSURLRequest(url: url as URL) , delegate: self)

[2019-08-22 09:32] jbarros35 commented on #66
I added socketClient.certificateCheckEnabled = false but nothing happens.
we are using NGINX on the server.

[2019-08-22 17:38] WrathChaos commented on #66
Hello @jbarros35,
I have never tried it with a selfed signed certificate one. Can you provide me with a simple example to let me work on it?

[2019-08-23 17:01] jbarros35 commented on #66
I created a certificate signed locally on my Mac, and after, I loaded it and ran on websocketd. It cannot be read by API.

[2019-08-24 17:52] siddharthsuneel opened #67 "Socket stopped working once I moved from ws//: to wss//:"
Earlier the system was working fine with ws//: once we migrated our system to use SSL then it stopped getting acknowledgement callbacks

I am not getting any callbacks for "stompClientDidConnect" & "stompClientDidDisconnect" functions.

[2019-08-24 17:57] siddharthsuneel commented on #66
@jbarros35  how can we load the self signed certificate while using this stompClientLib ?

Please let me know this so that I can also try this to workout some solution for Issue #67

[2019-08-24 20:39] Gensjava opened #68 "The problem when receiving the messages from the Spring boot."
After signed up with connect but nothing comes up if spring sends with this command (**convertAndSendToUser**), although an Android client the message comes without problems.

override func stompClientDidConnect(client: StompClientLib!) {
        super.stompClientDidConnect(client: client)
           socketClient.subscribe(destination: "/user/topic/gps/list-riders")
    }

override func stompClien

[2019-08-26 00:21] Gensjava commented on #68
I have found a solution, it was not a problem this library.

[2019-08-26 00:21] #68 closed

[2019-08-26 08:17] WrathChaos commented on #67
I need to work on it. Can you provide me with an example SSL one to let me work on it?

[2019-08-26 08:19] WrathChaos commented on #68
Hello @Gensjava,
I'm glad to hear that you solved your problem. Can you please tell us how could you solve your problem? If someone also has the same problem.

[2019-08-26 10:40] jbarros35 commented on #66
Done, we moved the server for a backend with a valid certificate.

[2019-08-26 10:55] jbarros35 opened #69 "End of stream error"
My WebSocket won't last too much time, it connects and seconds right after it disconnects.
Its not reconnecting automatically, I don't know why...

let ack = destination
        let id = destination
        let header = ["destination": destination, "ack": ack, "id": id]
        self.socketClient = StompClientLib()
        socketClient.openSocketWithURLRequest(request: NSURLRequest(url: url as URL)

[2019-08-26 11:03] jbarros35 commented on #69
We are using Spring boot 1.5.9 on the server.

[2019-08-26 11:36] WrathChaos commented on #69
Hello @jbarros35,
Can you provide me with an example so I can test what is wrong? However, most probably it has a problem on your backend side.

[2019-08-27 11:34] kiran4991 commented on #40
hi @WrathChaos, @abbasqamar  did you find any solution for this? I am also facing this issue

[2019-08-27 15:14] cleverClosure opened #70 "Can't see any Websocket traffic in Charles Proxy"
I can't see any websocket traffic in Charles Proxy for some reason. I see http traffic though. And yes, the app successfully connects via websocket

[2019-08-28 07:53] WrathChaos commented on #40
@kiran4991 He did not respond it so I guess he solved the problem. @abbasqamar ?

[2019-08-28 07:54] WrathChaos commented on #64
Done with this release : **[1.3.5+](https://github.com/WrathChaos/StompClientLib/releases/tag/1.3.5)**

[2019-08-28 07:54] #64 closed

[2019-08-28 07:55] WrathChaos commented on #63
Probably fixed by #65
Closed if you still have the same problem, please re-open an issue :)

[2019-08-28 07:55] #63 closed

[2019-08-28 07:56] #48 closed

[2019-08-29 18:37] cleverClosure commented on #70
Solved by pasting this code:

`NSMutableDictionary *socksConfig = [(__bridge_transfer NSDictionary*)CFNetworkCopySystemProxySettings() mutableCopy];
        id ip = socksConfig[@"HTTPSProxy"];
        NSDictionary *proxySocksConfig = @{@"SOCKSProxy"  : (ip ?: @"127.0.0.1"),
                                           @"SOCKSPort"   : @(8889),
                                           @"SOCKSEnable

[2019-08-30 08:15] cedb777 opened #71 "Issue with Cookies in header"
I tried to send a cookie to authenticate to the server but nothing has been sent.
When i read the log on server side, the header does not contain the cookie.
Here is my code what i do

        let cookieHeader = HTTPCookie.requestHeaderFields(with: self.cookies)
        socketClient.openSocketWithURLRequest(request: NSURLRequest(url: url as URL) , delegate: self, connectionHeaders:cookieHeader)

I

[2019-08-31 12:13] WrathChaos commented on #71
I need to research about it. I will work on it :)

[2019-08-31 12:14] WrathChaos commented on #70
Thank you for sharing @cleverClosure :) I will add this example on the README for Charlex Proxy.

[2019-08-31 12:14] #70 closed

[2019-09-02 13:08] cedb777 commented on #71
Thank you!

[2019-09-02 20:08] WrathChaos commented on #71
Hey @cedb777,
Really sorry but I had no time for the research, I'm gonna research about it in this weekend. Just to let you know

[2019-09-04 08:43] cedb777 commented on #71
Hey,

I have a temporary solution.
I have modified SRWebSocket.m (SocketRocket library) and I force to send the cookies if needed.

- In the didConnect function, I do it :
`
NSDictionary * cookies = [NSHTTPCookie requestHeaderFieldsWithCookies:[self requestCookies]];

    if ([cookies count] <= 0) {
        NSString * cookieKey = @"Cookie";
        NSString * cookieValue = [[self requestCookiesDic

[2019-09-05 07:31] jello323 opened #72 "Reconnect issue"
Hi, can I ask when my socket is disconnected or problems connecting how do I make it try to connect again? Or reconnecting if the connection is disconnected?

[2019-09-05 08:26] WrathChaos commented on #72
Hello @jello323,
I could not totally understand your question. There is a built-in method for reconnecting. [Reconnect Method](https://github.com/WrathChaos/StompClientLib#auto-reconnect-with-a-given-time)

[2019-09-05 08:48] jello323 commented on #72
hmm let me rephrase, where should i put the reconnect statement if the connection fail or if the connection is disconnected?

Currently I put the reconnect statement in

func serverDidSendError(client: StompClientLib!, withErrorMessage description: String, detailedErrorMessage message: String?) {

client.reconnect(request: url as NSURLRequest, delegate: self as StompClientLibDelegate, time: 4.0)

[2019-09-05 09:05] WrathChaos commented on #72
[stompClientDidDisconnect ](https://github.com/WrathChaos/StompClientLib#stompclientdiddisconnect)

You should add the code into this delegate. Also, please check the example code. There is an example of reconnect method.

[2019-09-07 12:16] WrathChaos commented on #72
I just closed this issue because of the stale.

[2019-09-07 12:16] #72 closed

[2019-09-13 09:44] rupeshsaxena opened #73 "stompClientDidConnect not called with Spring boot"
I again having issue with the stomp connection , the delegate method stompClientDidConnect doesn't call even though isConnected() method shows true.

StompClientLib: ver. 1.3.7
Spring Boot: 2.1.8.RELEASE

[2019-09-13 12:21] WrathChaos commented on #73
Did you fix your problem @rupeshsaxena?

[2019-09-13 13:27] rupeshsaxena commented on #73
Yes I manage to fix the issue.. Thought Spring boot problem was coming again, but tried the Example source code then it worked!!

Regards,

Rupesh Saxena
Sent from my iPhone

[2019-09-13 14:11] WrathChaos commented on #73
Love to hear that, have fun :)

[2019-09-26 14:55] buivanhieu2105 commented on #40
The same issue, I put my app from foreground to the background state a moment then it will auto disconnect at the background, could you pls helps me resolve for this case? Thanks!

[2019-09-26 15:18] WrathChaos commented on #40
Hello @buivanhieu2105,
I believe that StompClientLib cannot keep working on the background. You need to write a DispatchQueue background thread to make it work.

Here is the SO's answer about Background Tasks.
https://stackoverflow.com/a/45192928/2247055

[2019-09-26 15:48] buivanhieu2105 commented on #40
Okie  WrathChaos, I will try to fix this issue, thank for your support,
best regards.

Vào Th 5, 26 thg 9, 2019 vào lúc 22:18 FreakyCoder <
notifications@github.com> đã viết:

--
*Bùi Văn Hiệu*
*IOS Developer*

*Mobile:*  *0983818129*
*Email**: * *buivanhieu2105@gmail.com <buivanhieu2105@gmail.com>*
*Add:* Go Vap Distric, HCM City

[2019-09-26 18:54] WrathChaos commented on #40
@buivanhieu2105 If you find a good solution, please share with us :)

[2019-09-29 17:58] #52 closed

[2019-11-13 10:39] jbarros35 opened #76 "Number of received messages is limited"
I don't understand exactly why but we have an application which receives several messages with JSOn format. On the web app the application using JS receives several messages and process them, we at IOS using StompClient we can only receive 3 messages at time!

Maybe there is some kind of limitation on the client side?
Regards

[2019-11-13 13:09] WrathChaos commented on #76
Hello @jbarros35,
Let me understand clearer. You connect the socket on the client-side and after 3 messages received, you cannot receive any other messages (data). Am I right?
OR
Simply socket connection is disconnected after 3 messages?

[2019-11-22 09:23] chitranjank opened #77 "unable to install"
when I install. I am getting error
[!] The following Swift pods cannot yet be integrated as static libraries:

The Swift pod `StompClientLib` depends upon `SocketRocket`, which does not define modules. To opt into those targets generating module maps (which is necessary to import them from Swift when building as static libraries), you may set `use_modular_headers!` globally in your Podfile, or spe

[2019-11-22 09:29] WrathChaos commented on #77
Hello @chitranjank,
Did you install SocketRocket with Pods?

[2019-11-22 10:45] chitranjank commented on #77
yes

[2019-11-22 11:01] WrathChaos commented on #77
I'm going to test it ASAP.

[2019-11-22 11:13] WrathChaos commented on #77
I just created a new project and successfully installed the StompClientLib. Which part did you get this error message?

<img width="635" alt="Screenshot 2019-11-22 at 14 12 41" src="https://user-images.githubusercontent.com/6813862/69421481-2c3de080-0d32-11ea-9b5e-61956a0d122f.png">

[2019-11-23 13:49] jbarros35 commented on #76
Please close.

[2019-11-23 13:49] #76 closed

[2019-11-23 16:10] WrathChaos commented on #76
@jbarros35 So what was the problem?

[2019-11-23 16:11] WrathChaos commented on #77
I just closed the issue because of the stale & reproducible problem

[2019-11-23 16:11] #77 closed

[2019-11-25 04:32] chitranjank commented on #77
<img width="572" alt="Screenshot 2019-11-24 at 9 52 16 PM" src="https://user-images.githubusercontent.com/19883698/69512606-a35db980-0f6a-11ea-8800-efc16ef67dc8.png">

[2019-11-25 05:04] chitranjank opened #78 "unable to install"
<img width="572" alt="Screenshot 2019-11-24 at 9 52 16 PM" src="https://user-images.githubusercontent.com/19883698/69512373-d0f63300-0f69-11ea-868c-888dbb2db546.png">

I am getting that issue.

[2019-11-25 07:19] chitranjank opened #79 "I just closed the issue because of the stale & reproducible problem"
I just closed the issue because of the stale & reproducible problem

_Originally posted by @WrathChaos in https://github.com/WrathChaos/StompClientLib/issues/77#issuecomment-557810689_

[2019-11-25 07:19] #79 closed

[2019-11-25 11:28] WrathChaos commented on #78
Can you try to install StompClientLib with a pure new project on iOS?

[2019-11-25 11:28] chitranjank commented on #78
yes

[2019-11-25 11:47] WrathChaos commented on #78
It is not about the XCode version. What is your cocoapods' version?

[2019-11-25 12:02] chitranjank commented on #78
How to solve.?

[2019-11-25 12:10] WrathChaos commented on #78
How to solve what? Please check & upgrade your cocoapods

[2019-11-25 12:30] chitranjank commented on #78
same issue after upgrade CocoaPods

[2019-11-25 12:49] WrathChaos commented on #78
Are you trying to install it in a fresh project or an old one?

[2019-11-28 08:05] ISHENGQIANI commented on #78
TARGETS -> Build Setting -> + -> Add User-Defined Setting :
SWIFT_VERSION  4.0
install again
![截屏2019-11-28下午4 04 50](https://user-images.githubusercontent.com/18348798/69788136-d1582d80-11f8-11ea-8daa-f9ca1423dd30.png)
![截屏2019-11-28下午4 05 16](https://user-images.githubusercontent.com/18348798/69788169-df0db300-11f8-11ea-93d2-57aa41f5efdf.png)

[2019-11-28 08:10] ISHENGQIANI commented on #78
you can add use_frameworks! in podfile
like this:
![截屏2019-11-28下午4 10 08](https://user-images.githubusercontent.com/18348798/69788467-8f7bb700-11f9-11ea-895f-a815ed89ed46.png)

[2019-11-28 11:57] WrathChaos commented on #78
Have you tried this @chitranjank ?

[2019-11-28 11:58] #67 closed

[2019-11-28 11:58] #66 closed

[2019-11-28 11:58] #69 closed

[2019-11-28 11:58] #71 closed

[2019-12-03 10:10] tomasimartin opened #80 "Can't connect to websocket : received bad response code from server 422"
Hi. I get an error while trying to connect to websocket, here is the code:

[code]

Response:
[code]

And if I use another "Starscream" library, it connects very well with the same url, but I need the "STOMP" part that this other library doesn't have

Do you have any ideas why that might be the case?

[2019-12-03 10:45] WrathChaos commented on #80
Hello @tomasimartin,
Thank you for using the StompClientLib. Actually it is a problem with your backend side.

Here is [What Is 422 Unprocessable Entity?](https://www.keycdn.com/support/422-unprocessable-entity) article about the bad response. Please contact with your backend devs :) However, I'm also here to help, discuss your problem :)
Have fun!

[2019-12-03 11:45] tomasimartin commented on #80
hello @WrathChaos
The same API is used in Kotlin (Android) and also in Java, on the same url. It works perfectly on both environments.

As I said in my previous message, I used another library to make websocket, and with the same url on that library it works.

That's why I'm focusing my research here. Has anyone ever encountered this problem?

[2019-12-03 13:08] WrathChaos commented on #80
Actually there are some similar issues. Some related issues:
#30
#39
#68

I know that it could work on Android however, iOS requires so many different things to do :( I believe that you need to research about it. Currently, it works with my example project & other recent projects. Have you ever tried with simple example project?

[2019-12-03 16:31] tomasimartin commented on #80
@WrathChaos thanks for your quick feedback, we found the problem internally, it was a server side headers check. I hope I didn't disturb you too much. Well, hello from France. you can close this issue

[2019-12-03 19:17] WrathChaos commented on #80
@tomasimartin I'm glad to hear that :) You're always welcome to come & brainstorm :) Please feel free to ask anything :)

[2019-12-04 14:44] tomasimartin commented on #80
Hi @WrathChaos ,

we found out where the problem came from, when connecting there is an http call where we pass in the header

[code]

but I don't find in this header the parameters I added during the connection:

[code]
it can come from the SocketRocket library, the initial call to the connection is made without taking into account the header.

I'm not good enough in objective-c to modify the lib

[2019-12-04 14:47] tomasimartin opened #81 "Can't find header in initial call"
Hi @WrathChaos ,

we found out where the problem came from, when connecting there is an http call where we pass in the header

[code]

but I don't find in this header the parameters I added during the connection:

[code]
it can come from the SocketRocket library, the initial call to the connection is made without taking into account the header.

I'm not good enough in objective-c to modify the lib

[2019-12-04 22:11] #81 closed

[2019-12-05 04:42] #38 closed

[2019-12-05 04:42] #37 closed

[2019-12-05 07:40] WrathChaos commented on #80
Hey @tomasimartin,
I'm gonna try it with modifying SocketRocket but I need some time to test it. ObjC is really a pain :D

[2019-12-05 09:09] tomasimartin commented on #80
To get around my problem, I passed the header differently, like this

[code]

[2019-12-05 09:09] #80 closed

[2019-12-09 10:31] codedentwickler commented on #17
Hi @gloryluu, how did you ping the server using this library? I can't seem to find out how to do this.

[2019-12-09 11:33] SSUS31 commented on #17
i called this with a `Timer` for every 20 seconds
`self.socketClient.openSocketWithURLRequest(request: NSURLRequest(url: url as URL), delegate: self as StompClientLibDelegate, connectionHeaders: ["Authorization" : "Bearer xyz)", "heart-beat": "0,10000"])`

[2019-12-09 14:30] codedentwickler commented on #17
Oh, I see, that works thank you. Another thing I tried is calling `socket client.openSocketWithURLRequest(...)` only when `stompClientDidDisconnect(client: StompClientLib!) ` is called. However, there is a chance you might miss a message. So I make sure to verify the status with our backend whenever it reconnects.

In my case calling it every 20 seconds seems inefficient as the backend doesn't kic

[2019-12-22 00:21] Gdev82 opened #82 "Did Close With Code Does not update connected flag"
Hi,

Thank you for this library, working great.

 A few days ago, and I wanted to incorporate the reconnect option of this library in case for example the server goes down.

What I noticed is that when the method

`webSocket(_ webSocket: SRWebSocket!, didCloseWithCode code: Int, reason: String!, wasClean: Bool)` it does not close the connection. As a result when reconnect is called it never reache

[2019-12-23 15:42] ttansky commented on #51
Hi. Same problem with StompClientDidConnect on 1.3.7. version. Tried older versions, but always found nil when try openSocketWithURLRequest.

[2019-12-23 22:53] WrathChaos commented on #51
Hello @ttansky, I've double checked the solution and it works on me. Can you share a reproducible minimal repo?

[2019-12-24 09:07] ttansky commented on #51
This is my controller. I need to connect to server , subscribe on first topic and send first message with information about user. Server send me new topic, where i need subscribe. As i understand i can subscribe only in stompClientDidConnect method, so when i get response from server i try to disconnect and connect to it (tried also reconnect), but stompClientDidConnect works only after first conn

[2019-12-25 07:43] WrathChaos commented on #82
I've tried with my local example and it worked for me. Can you share with me a reproducible example?

[2020-01-04 15:09] reallyram commented on #32
Thanks @tuluigi

[2020-01-27 14:47] #78 closed

[2020-01-27 14:49] WrathChaos commented on #16
Still could not spend time on this feature. Any PR would be appreciated.

[2020-02-01 17:54] Gdev82 commented on #82
My apologies for the late response, here is my setup

class WebSocketClientImpl: WebSocketClient {

    let socketClient = StompClientLib()
    init() {
        socketClient.certificateCheckEnabled = false

    }

    func connectToWebSocket() {
        guard let connectReuest = WebSocketRequest.connect.asUrlRequest() else {
            return
        }
        socketClient.openSocketWithURLReques

[2020-02-06 11:06] michaelpeternell commented on #42
using username and password for login purposes is an essential feature. It would enhance the usefulness of this library much if it were documented somewhere. Not everyone will do a comprehensive search of open and closed issues just to find this feature.

[2020-02-07 07:43] WrathChaos commented on #42
I will add an example on the README :) Thank you for the suggestion @michaelpeternell

[2020-03-03 16:34] soledue opened #83 "the delegate should be weak"
hi, please make the delegate weak

[2020-03-03 16:35] soledue commented on #83
weak var delegate: StompClientLibDelegate?

[2020-03-08 15:28] WrathChaos commented on #83
It fixes with your PR #84.
Checkout the new release:

## [Release 1.3.8 🥳 ](https://github.com/WrathChaos/StompClientLib/releases/tag/1.3.8)

[2020-03-08 15:28] #83 closed

[2020-03-11 14:18] bejeri4 commented on #80
@tomasimartin
Hello. I have got the same problem.

`Error Domain=SRWebSocketErrorDomain Code=2132 "received bad response code from server 403" UserInfo={NSLocalizedDescription=received bad response code from server 403, HTTPResponseStatusCode=403} `

As you said there is a server side problem (checking headers). Could you please give me more detailed information.

Thanks in advance!

[2020-03-12 16:04] jbarros35 commented on #39
For the ones who could not make it using headers on connection, try this, that approach works on my environment.

[2020-03-29 17:51] ProITDevelopers opened #86 "Error Domain=SRWebSocketErrorDomain Code=2132 "received bad response code from server 403""
private let url = URL(string: "https://motoboy.begaentrega.com/api-entrega")
 I used a http url and worked, bu when I use a https give this error

[2020-03-29 18:11] #86 closed

[2020-04-02 06:59] Gdev82 commented on #82
Hi again, did you get a chance to look at this issue?

Thank you in advance.

George

[2020-04-03 15:09] #16 closed

[2020-04-09 15:01] Vlada31R opened #87 "How I can ping server?"
Hi, help me please. Using socketClient.socket?.send("\n") fails.
I need to ping the server because I get "Stream and encountered" error, even after setting heart-beat.

[2020-04-09 16:20] WrathChaos commented on #87
Hello @Vlada31R,
You cannot directly ping the server with this library but of course, you can use the connection methods to get the ping from server. I believe that you don't need to ping the server for your use-case, you have the `Steam and encountered` error only.

Did you check these issues?
#26 , #17

Also, I'm planning to add the ping the server functionality soon.

[2020-04-09 19:06] Vlada31R commented on #87
Hi, thank you for quick response.
Yeah, I checked the issues.
There are several possible solutions were mentioned:
1. I can add heart-beat header - I did it, but it didn't help
2. Put a timer for every 30s to send a ping command to server - but I have a question how to do it
3. there also was solution to call openSocketWithURLRequest with timer for every 20 seconds - but I think that it's not very

[2020-04-10 07:49] kaandok commented on #86
@ProITDevelopers having the same problem, could you please comment how you resolved it?

[2020-04-13 08:42] Vlada31R commented on #87
@WrathChaos and maybe there are other opportunities to ping server with your library?

[2020-04-13 10:58] WrathChaos commented on #87
Hello @Vlada31R,
Sorry for the late response. Actually you can fork the library and open a PR to finish this one: https://github.com/WrathChaos/StompClientLib/pull/25
Then we can fix the ping server problem at all. Really sorry but I have literally no time to integrate this logic and test it. I'm always open to any contribution. If you have time, please complete this PR :) I'm happy to merge it.

[2020-04-13 11:02] Vlada31R commented on #87
Hi, I see, thank you.

[2020-04-13 12:51] WrathChaos commented on #87
I will try to add this feature in this weekend but I cannot promise you @Vlada31R

[2020-04-14 08:21] Vlada31R commented on #87
Okay, thanks, I will try to do it.
And I have one more assumption about the reason of "Stream and encountered" error. Could it be caused by using wss protocol?
Thank you in advance!

[2020-04-14 12:49] WrathChaos commented on #87
@Vlada31R, Library itself uses the Facebook's SocketRocket which means it uses a WebSocket. Therefore, you have to use wss protocol. Honestly, I have no idea if you can use it without wss protocol or not.

[2020-04-14 13:29] Vlada31R commented on #87
I see, thank you very much!

[2020-04-16 12:34] Sofrik opened #88 "Adding Installation Through Swift Package Manager"
Hello!

Are you considering adding support for Swift Package Manager?

[2020-04-16 15:53] WrathChaos commented on #88
I can do it at the weekend, I guess :)

[2020-04-16 16:45] Sofrik commented on #88
It would be very cool!

[2020-04-26 13:38] iamvignesh opened #89 "The app crashed when initializing StompClientLib"
I App got cashed with the debugger pointing to the first line of the button click action with message "Thread 1: signal SIGABRT" And I am not seeing any stacktrace or message in xcode console.

And if I click 'Continue program execution' option then the app crashed with the message in console 'Terminated due to signal 9'

@IBAction func onButtonClick(_ sender: Any) {
        let socketClient = Sto

[2020-04-26 13:50] WrathChaos commented on #89
I could not understand what is wrong with this code. Can you share with me the whole code? You can check how to do on example code.

[2020-04-28 18:27] iamvignesh commented on #89
@WrathChaos , I have provided the information how I did set up StompClientLib in my application like below

1. I installed pod using the command "pod "StompClientLib""
2. Then after installing the pods I try to build the project But still I am getting a run time error "dyld: Library not loaded: @rpath/SocketRocket.framework/SocketRocket" for which I added the two frameworks in the Link Binary with

[2020-04-29 10:00] bes opened #90 "STOMP Version?"
Thanks for creating this library, it seems very useful!

Can you please specify (perhaps in README.md?) what version of STOMP that the library supports?

Thanks!

[2020-05-01 07:03] iamvignesh commented on #89
I try to build the example app, But I am getting nil value at the line

`self.socket = SRWebSocket(urlRequest: urlRequest! as URLRequest)`

in the file StompClientLib.swift.
which results in "Unexpectedly found nil while unwrapping an Optional value" error in the line
`self.socket!.delegate = self`.

[2020-05-04 11:27] WrathChaos commented on #89
Hey @iamvignesh,
Have you ever tried to run with the example into the project? If you cannot make it work, I can create an example repo for you.

[2020-05-06 07:32] WrathChaos commented on #90
Hello @bes,
Sorry for the late response. It should support 1.1 and 1.2 version. I've never tried with 1.0 version so there is no guarantee for that.

[2020-05-07 14:12] bes commented on #90
Thanks! Will you add some notes in README and then close this or should I close it?

[2020-05-07 20:14] WrathChaos commented on #90
Sure, I will add it on README :)

[2020-05-10 10:44] WrathChaos commented on #90
@bes Here you go :)
Thank you for your contribution.
[Documentation Stomp Versions](https://github.com/WrathChaos/StompClientLib/blob/master/README.md#supported-stomp-versions)

[2020-05-10 10:44] #90 closed

[2020-05-12 09:19] ThanhTrung90 commented on #18
Hi @WrathChaos , @gloryluu . My server is using Stomp 1.1 and in browser, I also receive server's pon but in mobile I can't receive server's pong (although I add ["hear-beat": "0,30000"] to header)
`socketClient.openSocketWithURLRequest(request: request as NSURLRequest,
                                              delegate: self,
                                              connectionHeaders: ["

[2020-05-13 18:21] chitranjank opened #91 "Voice call"
Can i use voice and video call. Using stompclientlib

[2020-05-13 18:32] WrathChaos commented on #91
I have never tried something like that :D It only gets the some kind of data. However, I don't see any reason why it does not work :)

[2020-05-15 11:46] WrathChaos commented on #18
Have you ever tested with another platform with another library? Like on Android? It should work with this library but generally, it fails on the backend side.

[2020-05-31 11:31] adya commented on #33
Hey, please add a dependency `github "facebook/SocketRocket"` in Cartfile, so that Carthage will resolve and fetch SocketRocket automatically. Similarly to podspec.

Currently from Carthage's point of view your library doesn't have any dependencies. Thus it is not fully compatible with Carthage.

[2020-06-01 10:33] WrathChaos commented on #82
Hey @Gdev82
Have you ever tried this problem with the latest version of StompClientLib? And sorry for the late response, totally forgot about it :(

[2020-06-01 10:33] #91 closed

[2020-06-01 10:33] #89 closed

[2020-06-01 10:35] WrathChaos commented on #88
Hey @Sofrik,
Really sorry I could not spare time for this, I will do it ASAP

[2020-06-02 21:08] meAbhishekTripathi commented on #23
![Screenshot 2020-06-03 at 2 36 33 AM](https://user-images.githubusercontent.com/25790087/83570071-101dc600-a543-11ea-8d47-37d4e683aa0d.png)

Hi Guys,

While establishing the connection SocketRocket is connected but suddenly it says disconnected with code 1001 as Stream end encountered.

Can you suggest why this happens?

[2020-06-03 12:09] WrathChaos commented on #23
Hey @meAbhishekTripathi,
We need to check the code, and have you tried to connect on another platform?

[2020-06-05 11:34] #82 closed

[2020-06-11 18:48] hellopandaxx opened #92 "Subscribe on background thread."
Hey guys, could you advise me please, how can I subscribe to socket data not on main thread? I even tried to call openSocketWithURLRequest(..) in background, but I still have all delegate events on main thread.

How do you handle it in your applications?

Thanks,
Sergey

[2020-06-11 18:55] WrathChaos commented on #92
It's been awhile working on Swift :) I need to investigate it.

[2020-06-13 14:51] #87 closed

[2020-06-18 02:11] failynsedik commented on #72
Following the reconnect example in the example code worked for me. Thank you! 😃

[code]

[2020-06-18 10:31] WrathChaos commented on #72
@failynsedik  if you have any other problem or enhancement, I'm glad to improve the library :)

[2020-06-19 19:45] Sofrik commented on #88
Have you ever thought about building a project for tvOS?

[2020-06-20 07:24] WrathChaos commented on #88
Hello @Sofrik,
I've never tried with tvOS because I do not have a AppleTV :D But why not, I am open for anything :)

[2020-06-24 08:47] Shankar105 commented on #32
@WrathChaos Hi, I am also getting the same error.

[2020-06-24 11:14] WrathChaos commented on #32
Hello @Shankar105,
Have you checked this issue and tried the solutions?

[2020-06-24 12:07] Shankar105 commented on #32
@WrathChaos , Thanks you for your quick response. it was a problem with the server side code.

[2020-06-24 12:25] WrathChaos commented on #32
Did you fix it? If you fixed it please share with us then people who have this problem can find it and solve it easily :)

[2020-08-03 04:10] anhdaden12 commented on #23
- @WrathChaos I meet the same issue : "didCloseWithCode 1001, reason: Optional("Stream end encountered")":
and below is my code to work with socket

<addr.>
func stompClient(client: StompClientLib!, didReceiveMessageWithJSONBody jsonBody: AnyObject?, akaStringBody stringBody: String?, withHeader header: [String : String]?, withDestination destination: String) {
        if let del = self.delegate {

[2020-08-03 06:41] anhdaden12 commented on #23
![image](https://user-images.githubusercontent.com/51255722/89153450-1524e300-d58f-11ea-8f5a-9eeb9062e2c5.png)

[2020-08-05 03:07] anhdaden12 commented on #17
this solution resolve my issue, Thanks a lot 👍

[2020-08-10 15:14] amit3215 commented on #23
@WrathChaos  Did you found the solution for that, I am facing the same issue. It's working fine with android and web but in iOS after connection establishment it got disconnected  .
didCloseWithCode 1001, reason: Optional("Stream end encountered")

[2020-08-11 08:42] WrathChaos commented on #23
Hello @amit3215 and @anhdaden12,
I'm sorry for the late response but I could not reproduce the same problem on the three different Stomp server.
It seems the problem is on your backend side please take a look at these:

* https://github.com/WrathChaos/StompClientLib/issues/26#issuecomment-395091572
* https://github.com/WrathChaos/StompClientLib/issues/52#issuecomment-510836169
* https://github.com

[2020-08-11 08:58] WrathChaos commented on #92
Hello again @hellopandaxx,
Can you try this #94? If it works for you, I will merge and release a new version.

[2020-09-14 12:49] smoralesVLL commented on #32
Same problem here. Can you share with us the solution?

[2020-09-15 07:05] anhdaden12 commented on #23
@amit3215  on ios platform i solve this problem by send a ping to socket server per 10s. I just send "\n" and it solved my case

![image](https://user-images.githubusercontent.com/51255722/93177015-54347f80-f75c-11ea-8f83-ac274cd46860.png)

[2020-10-16 11:35] mallikarjuna0308 opened #96 "Client is disconnecting automatically after 1 minute of connection."
Hi @WrathChaos , I am trying to get the real time data of my project which deals with parking slots. So I was trying web socket (using it first time) to get that real time data but after 1 minute of connection it automatically disconnecting. I have gone through many articles and only solution I could find is ping-pong to keep the connection alive, but I did not understand how to implement that pin

[2020-10-16 12:30] WrathChaos commented on #96
Hello @mallikarjuna0308,
Actually, it depends on your backend server. On my own experience, I'd never have to use ping pong to stay the connection alive but it is a heartbeat solution. You need to implement the ping pong solution on your backend part, not the client one.

https://github.com/WrathChaos/StompClientLib/issues/26#issuecomment-395091572
https://github.com/WrathChaos/StompClientLib/issu

[2020-10-16 13:00] mallikarjuna0308 commented on #96
@WrathChaos , thanks a lot for your quick response and solution. When I used the below function, it started working:
self.socketClient.openSocketWithURLRequest(request: NSURLRequest(url: url as URL), delegate: self as StompClientLibDelegate, connectionHeaders: ["Authorization" : "Bearer xyz)", "heart-beat": "10000,10000"])

["heart-beat": "0,10000"] disconnected after certain time but when changed

[2020-10-16 13:06] WrathChaos commented on #96
I'm glad that it works :) heart-beat is a strange issue :D

[2020-10-16 13:06] #96 closed

[2020-10-17 11:39] #92 closed

[2020-12-01 21:29] kiiskristo commented on #88
Any updates on it?

[2020-12-02 10:33] WrathChaos commented on #88
I'm still here and maintain this library but I could not find myself to do this.  I will do it ASAP.

[2021-01-11 03:05] kitty0109 opened #98 "Connection close after 1 minute When I set "heart-beat: 30000, 0""
![image](https://user-images.githubusercontent.com/1435802/104144150-10e1d900-53fd-11eb-9ce1-f8daa0903743.png)

I tried to use STOMP 1.2 on IOS APP with STOMP's heartbeat header: `heart-beat:30000, 0`. But the WebSocket connection closed after 1 minute. PS: this heart-beat header works for Android APP. Could anyone help me check what's going wrong?

[2021-01-11 16:40] WrathChaos commented on #98
Hello @kitty0109

Thank you for using this library and reaching me :)

You should ping the server within a specific interval.

https://github.com/WrathChaos/StompClientLib/issues/96#issuecomment-710030428

Here is the current solution.

Please let me know if it is working for you

[2021-01-12 02:35] kitty0109 commented on #98
It works! Thanks for your reply.

[2021-01-12 09:51] #98 closed

[2021-01-31 11:34] BatyrOvezdurdyyev opened #99 "Adding response after sent to server or not"
It is an amazing library, thanks.
I use this library. Library handles messages received from the server but when I send a message to the server I do not know this message is sent or not. Can you add a response(true/false) or delegate method.
thanks, I will be waiting for your reply.

[2021-01-31 13:17] WrathChaos commented on #99
Hello @BatyrOvezdurdyyev
Thank you for using this library :)
It's been awhile working on this library, let me investigate this request then I will inform you

[2021-02-12 05:34] kristohear commented on #88
Hey,
any updates on that?

[2021-02-18 08:57] NaveenVjBabuji opened #100 "Subscribe response"
Hi I have been trying to subscribe a particular endpoint which was given from the server side but i can't get the respective response from server or error in my side. So what would be the issue i am facing??

[2021-02-18 10:05] WrathChaos commented on #100
Hello @NaveenVjBabuji,
Do you subscribe to the topic successfully? also, can you check that your server sends the response successfully?

[2021-02-18 10:14] NaveenVjBabuji commented on #100
Hello @WrathChaos ,
The issue didn't occur actually because I was sending string to backend instead they want a Json object so I went through your docs and got sendJSONForDict method to solve this issue. Thank you for creating a wonderful pod for our

[2021-02-18 10:51] WrathChaos commented on #100
Thank you for kind words @NaveenVjBabuji  :) I'm glad that it works for you, feel free to open an issue for anything. Also PR's are always welcome.
Have fun

[2021-02-18 10:51] #100 closed

[2021-02-22 06:32] aske0115 opened #101 "How can I access http response header (handshakeResponseHeaders) about handshaking?"
When connecting is completed after attempting to connect stomp,
I want to access the HTTP responseHeader and refer to the desired value.
How can I access the http header of the connect response and get the value?

[2021-02-23 15:47] JKim0119 opened #102 "Disconnecting after using autoReconnect"
Is there a way to disconnect after using autoReconnect? I'm trying to disconnect when a user signs out, but because I had the autoReconnect on prior, it just reconnects. Just asking in case I'm missing something obvious. Thank you!

[2021-02-23 16:10] WrathChaos commented on #102
Hello @JKim0119,
You can use a flag to resolve this problem. Simply un-set `autoReconnect` with a flag if user signs out.

[2021-02-23 16:24] JKim0119 commented on #102
Sorry, could you clarify what you mean by unsetting the reconnect? Right now, I have the reconnect inside the stompClientDidConnect function
[code]
Are you saying that I just change the url in the reconnect function? I'm not sure I exactly follow what you mean by unsetting it

[2021-02-23 17:33] JKim0119 commented on #102
I couldn't figure out a way with your tip, so I ended up just making some functions and creating pr #103. Hope that works!

[2021-02-23 18:18] WrathChaos commented on #102
I reviewed it but I will test it then we can merge it :) Thank you man!

[2021-02-23 19:44] JKim0119 commented on #102
Sounds good! Will you make a new release once/if you merge it?

[2021-02-23 19:45] WrathChaos commented on #102
@JKim0119 Yes I will release a new one tomorrow :)

[2021-02-23 19:47] JKim0119 commented on #102
Awesome! Thank you!

[2021-02-25 21:15] WrathChaos commented on #102
Hello again @JKim0119,
I'm so sorry its been a hard day. I will make it tomorrow

[2021-02-25 21:24] JKim0119 commented on #102
Haha no worries! It's your code, take your time!

[2021-02-26 06:09] aske0115 commented on #101
public TreeMap<String, String> getHandshakeResponseHeaders() {
        return handshakeResponseHeaders;
    }

    reference anddroidLibrary
    (https://github.com/NaikSoftware/StompProtocolAndroid)

    thank you!

[2021-03-04 20:53] JKim0119 commented on #102
Hey @WrathChaos, was just wondering what the status of the PR is. Thanks!

[2021-03-05 12:26] WrathChaos commented on #102
Hey @JKim0119,
Really sorry it has been a tough week. I reviewed your PR. Can you please check it and we can merge it very fast :)

[2021-03-05 15:38] JKim0119 commented on #102
No worries! Just submitted another commit to remove that method. I had it in at first because I thought I was having some asynchronous issues or something. Thanks for the review!

[2021-03-06 14:40] WrathChaos commented on #102
I'm going to release a new version, can you test it with me? @JKim0119

[2021-03-06 18:52] JKim0119 commented on #102
@WrathChaos I've been using my forked change for awhile now and it's been working as intended for me!

[2021-03-07 11:38] WrathChaos commented on #102
Hello @JKim0119,
First of all thank you so much for the contribution and very sorry for this delayed update.

I've released a new version:

# (Release 1.4.1  🥳) [https://github.com/WrathChaos/StompClientLib/releases/tag/1.4.1]

![image](https://user-images.githubusercontent.com/6813862/110238424-9cd23600-7f52-11eb-9cbf-4d3068ebd5fb.png)

Please test it out and tell me if there is something wrong :

[2021-03-07 11:38] #102 closed

[2021-03-17 10:42] #101 closed

[2021-03-17 10:49] aske0115 opened #106 "Add openSocketWithURLRequest connectionheader to websocket urlRequest's HTTPHeaderField and request additional connect function."
Hi.
When making websocket opensocket connectionHeaders information delivered when requesting openSocketWithURLRequest,
I am going to discuss how to add a function and option to connect a socket by including header information in urlRequestHeader.

-A method of delivering a CONNECT command through sendFrame after websocket openSocket (existing)

-When requesting websocket openSocket, openSocket by

[2021-03-18 00:35] aske0115 commented on #106
Hi.

The first function I thought of was setting the httpHeader at websocket openSocket,
When the websocket is open, the function to receive httpHeader is required.

Please inquire if there are any additional plans for this feature.
I'm very grateful.

[2021-03-19 14:35] abbasqamar commented on #106
well i am using this library since 2019 ..

let me summarise for you or any other people whos using Stomp for IOS.

if you are using headers (valid headers ) like  Authorization ,
you can use  it like this

request.addValue ("Bearer "+token, forHTTPHeaderField: "Authorization")

and if you are going to use custom header like we are using  custom header  name is UserCli and value is Valid

then you

[2021-03-19 15:26] WrathChaos commented on #106
Thank you so much for the explanation @abbasqamar

[2021-03-22 04:05] #106 closed

[2021-03-22 04:07] aske0115 commented on #106
Thank you for your kind answer.
As you said, I'm trying to use key values such as cookie and user-agent, so I don't think there's any problem.
@abbasqamar , @WrathChaos

[2021-04-22 13:01] andrii-lisovskiy opened #108 "Cannot connect to socket"
Keep receiving an error in
`func serverDidSendError(client: StompClientLib!, withErrorMessage description: String, detailedErrorMessage message: String?) `

**Invalid Sec-WebSocket-Accept response**

[2021-04-22 13:47] WrathChaos commented on #108
Hello @andrii-lisovskiy

#24
#30
#32
#39

Have you checked these issues?

[2021-04-22 14:47] andrii-lisovskiy commented on #108
Hi @WrathChaos , thanks for quick reply. Yes, I've checked these issues, but have not found solution.

[2021-04-28 12:24] tusharMistri commented on #80
@WrathChaos , Can you please tell me what is reason behind this error.

Error Domain=SRWebSocketErrorDomain Code=2132 "received bad response code from server 403" UserInfo={NSLocalizedDescription=received bad response code from server 403, HTTPResponseStatusCode=403}

I have checked with backend server, and also verify with Android its also working fine, when i am trying to connect socket from iOS

[2021-05-10 12:12] Gfycyd opened #109 "Error Domain=SRWebSocketErrorDomain Code=2132 "received bad response code from server 403""
Could you please help me with why it may happen?

''''
    func startStomp() {
        if socketClient.isConnected() {
            stompDisconnect()
        }
        let url = URL(string: stompUrl)!
        let request = NSURLRequest(url: url)
        socketClient.openSocketWithURLRequest(request: request, delegate: self)
    }
''''

[2021-05-10 13:22] WrathChaos commented on #109
Hello @Gfycyd
Have you checked this issue: https://github.com/WrathChaos/StompClientLib/issues/80

[2021-05-20 17:00] AntonBelousov opened #110 "Add method/flag to stop logging"
Thanks for your work! I just have small problem
Right now if I get incorrect data from the server and StompClient can't parse JSON - I get a lot of log messages like "error serializing JSON:...".
Could you add ability to stop logging? E.g some kind of flag, like `StompClientLib.logEnabled` or something

[2021-05-21 07:38] WrathChaos commented on #110
Hello @AntonBelousov,

I will take a look at this :) Thank you for reporting

[2021-05-22 11:25] WrathChaos commented on #88
Hey guys,
Since [Facebook's SocketRocket](https://github.com/facebookarchive/SocketRocket) is deprecated/archived and they do not have the support of Swift Package Manager. I could not make an SPM installation option. Therefore, I am going to move the main WebSocket to Apple's new web socket

[Apple's New Socket for iOS 13](https://developer.apple.com/documentation/network/nwprotocolwebsocket)
[Ap

[2021-05-22 11:25] #88 closed

[2021-05-24 21:32] kristohear commented on #88
hey @WrathChaos could you create a branch or separate repo for this? I have changed your lib to work with apple websocket solution. Plus fixed some swift lint and other warnings. Would like to create a PR.

[2021-05-25 06:19] WrathChaos commented on #88
@kristohear, I love to hear that.
I will create a branch for that, let's work on your PR.

[2021-05-25 12:07] KatyaUzbekova opened #111 "Subscribe Issue"
I made a subscribe to end-point

    var localStomp = "ws://10.242.27.231:8080/wschat/websocket/"

    var socket: StompClientLib? = nil
    func initConnection() {
        let url = URL(string: localStomp)!
        let request = NSURLRequest(url: url)
        socket = StompClientLib.init()
        socket?.openSocketWithURLRequest(request: request, delegate: self, connectionHeaders: header)
    }

[2021-05-25 14:08] WrathChaos commented on #109
@Gfycyd Could you solve the problem?

[2021-05-25 14:14] WrathChaos opened #112 "Version 2.0"
Version 2.0 Preparation

- Remove the main WebSocket which is SocketRocket because it's deprecated and archived
- New Websocket Integration which is [Apple's New Socket for iOS 13](https://developer.apple.com/documentation/network/nwprotocolwebsocket)
- [Apples new Socket for iOS 13 Implementation Example](https://developer.apple.com/videos/play/wwdc2019/712/)
- Whole Re-written with Apple WebSock

[2021-05-25 14:16] WrathChaos commented on #112
@kristohear Can you open a PR from [Version.2.0-Preparation](https://github.com/WrathChaos/StompClientLib/tree/Version.2.0-Preparation) branch so I can contribute from your PR.

[2021-05-29 06:51] KaranMehta3984 commented on #80
@tusharMistri
Any luck?

[2021-05-31 12:33] KaranMehta3984 commented on #109
@Gfycyd have you got any solution?

[2021-05-31 12:36] KaranMehta3984 commented on #109
@WrathChaos can you please help us?

[2021-05-31 13:23] KaranMehta3984 opened #114 "Error Domain=SRWebSocketErrorDomain Code=2132 "received bad response code from server 403" UserInfo={NSLocalizedDescription=received bad response code from server 403, HTTPResponseStatusCode=403"

[2021-06-17 07:55] vbansod commented on #21
Basic step is to terminate connect from the server end.
Unable to reopen the connection after.

[2021-06-30 01:58] #108 closed

[2021-08-06 13:28] WrathChaos commented on #111
Hello @KatyaUzbekova
Really sorry for the late response.

Could you solve the problem? Do you still need help about it?

[2021-08-06 13:29] WrathChaos commented on #114
Hello @KaranMehta3984
Really sorry for the late response. Could you solve the problem?

[2021-09-27 13:40] kristohear commented on #112
@WrathChaos hey, should we still move on with it?

[2021-09-27 14:52] WrathChaos commented on #112
@kristohear I really want to do this but could not do it nowadays. I've had a surgery this week.

Are you available next week? Let's do it

[2021-09-27 15:45] kristohear commented on #112
Have a healthy recovery and I'm available next week and can invest some time into it.

[2021-10-06 09:53] VojkanSpasicMegaCar commented on #114
I have the same issue...

[2021-11-03 13:28] jomarocsina opened #115 "Error Domain=SRWebSocketErrorDomain Code=2132 "received bad response code from server 403""
Hi,
I am trying to connect to our websocket using this library.

It's weird that when I download the example project and change the url to our url it is working but when I create a new project and import the library (cocoa pods) and copy the exact code on the example project it doesn't connect and return the bad response code error.

Hope you can help me.

Thank you.

[2021-11-04 09:31] #115 closed

[2021-11-04 16:09] WrathChaos commented on #115
Hello @jomarocsina can you resolve your problem?

[2021-11-05 14:27] mob-connection commented on #112
@WrathChaos , you can check this one [https://github.com/mob-connection/SwiftStompClient](https://github.com/mob-connection/SwiftStompClient)
Implemented via native iOS web sockets and added Heart-beating.
Please check it, and add some comments
Thanks!

[2021-11-05 15:14] WrathChaos commented on #112
@mob-connection I will check it ! Thank you so much

[2021-11-05 15:14] WrathChaos commented on #112
@kristohear Are you available next week?

[2021-12-23 08:41] VivekDhole9414 opened #117 "Socket Disconnect after 30 min"
Hello

My Socket is automatically disconnected after 30 min. I implemented one request to socket live this request is continuously call in background but after 30 min socket is not responding any more please advice.
following is my error when getting this error socket disconnect delegate method is call
didCloseWithCode 1008, reason: Optional("This connection was established under an authenticated

[2022-01-03 12:16] VivekDhole9414 commented on #117
Hello Team, Thank you for this awesome library I am using this from last more than 2 year, I am facing one problem which I am sharing with you. Please let me know if you have already know about that and how I can fix this.

I am not able to make socket live more than 10 minuets. It will disconnect automatically. Actually its not disconnected, its not return any acknowledgement of data.

I have tri

[2022-01-04 16:32] WrathChaos commented on #117
Hello @VivekDhole9414,

Thank you so much for using this library for so long :)
I will try to help you, let's solve your problem.

You can send the demo project to kurayogun@gmail.com

But let's keep the conversation here so everyone can find the solution :)

I'm still using this library just like you and my connection is usually opens all day, like 7-8 hours, and never seen any connection problem

[2022-01-05 11:48] VivekDhole9414 commented on #117
Yes sure,
Yes, I have tried with same also.

I have send you email with demo project, Please check your end. Also please share if any server side configuration we required to match with our socket library requirement. That also be more helpful for us or others.

[2022-01-06 17:24] WrathChaos commented on #117
@VivekDhole9414
I will take a look at it this weekend :)

[2022-01-13 12:06] yunseong76039287 opened #118 "misprint in code"
first, i appreciate you to provide the library example.
i think here are some misprint code. (DESTIONATION -> DESTINATION)

https://github.com/WrathChaos/StompClientLib/blob/51a06888889ed4b178c4071fbe81d1f9c6654db4/StompClientLibExample/StompClientLibExample/ViewController.swift#L99

[2022-01-13 12:17] WrathChaos commented on #118
Thank you so much, I will actually remove the prints or make them optionals.

[2022-01-13 12:28] yunseong76039287 commented on #118
Is it Okay if I open pull request about this issue?

[2022-01-13 15:35] WrathChaos commented on #118
All PR's are welcome :)

[2022-01-14 12:38] #118 closed

[2022-03-28 11:09] johanan1 opened #121 "Support for WatchOS"
Any plans for supporting wathcOS?

[2022-03-30 17:59] Caleb-Bolton opened #122 "Swift Package Manager support?"
The enhancements list indicates that Swift Package Manager support has been added yet trying to add it via Swift Package Manager fails because there is no Package.swift. Is SPM support outdated maybe?

[2022-03-30 20:36] WrathChaos commented on #122
Hello @Caleb-Bolton ,
It can be outdated. I will take care of it

[2022-04-17 09:21] #117 closed

[2022-08-31 12:16] zahidshaikh795 commented on #32
[code]

I am also facing the same issue "invalid sec-websocket-accept response".
Earlier i was using  "ws://169.38.69.67:8080/live//vehicle-live-tracking" and it was working fine and connection established but since I change to  "ws://cepqa.vecv.net/live/vehicle-live-tracking", I keeps geeting this error.